@page
@model MitsubishiPajero.Pages.Galerie.L040.IndexModel
@{
	ViewData["Title"] = "Galerie L040";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="text-center">
	<h1>
		Galerie L040
	</h1>
	<partial name="~/Pages/Shared/_GalleryPartial.cshtml" model="Model.GalleryVM" />
</div>
