@model GalleryPartialModel

	<div class="gallery">
		@foreach (var runner in Model.ImageUrls)
		{
			<figure class="float-sm-left mr-3 mb-3">
				<img src="@Url.Content(runner)" class="img-thumbnail" />
				@*<figcaption>L040</figcaption>*@
			</figure>
		}

	</div>

