@page
@model MitsubishiPajero.Pages.Galerie.IndexModel
@{
	ViewData["Title"] = "Galerie";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>
			Galerie
		</h1>
		<a asp-page="/Galerie/L040/Index" class="float-sm-left">
			<figure>
				<img src="~/images/gallery/l040/1982_short_3_3638618916_o.jpg" class="img-thumbnail not-modal" />
				<figcaption>L040</figcaption>
			</figure>
		</a>
		<a asp-page="/Galerie/V20/Index" class="float-sm-left ml-3">
			<figure>
				<img src="~/images/gallery/v20/1991_short_4_3637898163_o.jpg" class="img-thumbnail not-modal" />
				<figcaption>V20</figcaption>
			</figure>
		</a>
		<a asp-page="/Galerie/v60/Index" class="float-sm-left ml-3">
			<figure>
				<img src="~/images/gallery/v60/2004i_3637914957_o.jpg" class="img-thumbnail not-modal" />
				<figcaption>V60</figcaption>
			</figure>
		</a>
		<a asp-page="/Galerie/V80/Index" class="float-sm-left ml-3">
			<figure>
				<img src="~/images/gallery/v80/06.jpg" class="img-thumbnail not-modal" />
				<figcaption>V80</figcaption>
			</figure>
		</a>
		<a asp-page="/Galerie/Evolution/Index" class="float-sm-left ml-3">
			<figure>
				<img src="~/images/gallery/evolution/000_3641112070_o.jpg" class="img-thumbnail not-modal" />
				<figcaption>Evolution</figcaption>
			</figure>
		</a>
		<a asp-page="/Galerie/L040-Dakar/Index" class="float-sm-left ml-3">
			<figure>
				<img src="~/images/gallery/l040-dakar/001_5254254412_o.jpg" class="img-thumbnail not-modal" />
				<figcaption>L040 Dakar</figcaption>
			</figure>
		</a>
		<a asp-page="/Galerie/Dakar/Index" class="float-sm-left ml-3">
			<figure>
				<img src="~/images/gallery/dakar/001_3641075402_o.jpg" class="img-thumbnail not-modal" />
				<figcaption>Dakar</figcaption>
			</figure>
		</a>
		<a asp-page="/Galerie/Misc/Index" class="float-sm-left ml-3">
			<figure>
				<img src="~/images/gallery/misc/036.jpg" class="img-thumbnail not-modal" />
				<figcaption>Verschiedenes</figcaption>
			</figure>
		</a>
	</div>
