@page
@model MitsubishiPajero.Pages.Dakar.Rueckblick.Dakar1985Model
@{
	ViewData["Title"] = "Dakar1985";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="text-center">
	<h1>
		Zusammenfassung (1985 - Paris - Alger - Dakar)
	</h1>
	<p>
		<img src="../../../Dakar/Review/1985/1985_map.jpg" style="float: left; height: 150px" />Die
		siebte Paris - Algier -
		<img src="../../../Dakar/Review/1985/1985_02.jpg" style="float: right; height: 118px" />Dakar,
		die vom 1 - 22 Januar stattfand war mit 14.000 km die Härteste die jemals geplant
		wurde, mit einem Starterfeld von 503 Teilnehmern, von denen 360 in der Car/Truck
		Wertung fuhren. Diesmal war der Pajero sogar noch populärer mit drei Fahrzeugen
		unter Sonautoführung und nicht weniger als 37 Nennungen von Privatteams. Cowan war
		wieder einmal der Teamleiter neben Patrick Zaniroli in der zweiten Maschine, die
		diesmal in der Prototypenklasse starteten. Vom majestätischen Palast in Versailles,
		in der Nähe von Paris, brach das Mitsubishiteam unter der Leitung von Cowan und
		seinem fähigen Navigator Johnstone Syers in Richtung des unfreundlichen Klimas der
		Sahara auf, eine Arena mit wenig Sympathie für die Schwachen und Unverläßlichen,
		wo der größte Kampf in der Geschichte des Motorsport ausgetragen werden sollte.
		Mit über 40°C und den genadenlosen Schlägen der steinigen Wüste, durch die hunderte
		von Autos mit Höchstgeschwindigkeit rasen, stellt die Dakar das ultimative Testge<img src="../../../Dakar/Review/1985/1985_01.jpg" style="float: right; height: 110px" />lände
		für jedes motorgetriebene Fahrzeug dar. Für den Pajero war das dritte Jahr der Teilnahme
		einfach ein weiters Kapitel in der Aufstiegsgeschichte des Pajeros als die härteste
		Hochleistungs Off-Roadmaschine der Welt. Unter der Anleitung des Sonauto Mitsubishichefs
		Ulrich Brehmer, fuhren Cowan und Zaniroli ihrer Bestimmung bei der Dakar entgegen,
		während der beliebte japanische Schauspieler Yohsuke Natsuki lernen mußte was es
		heißt, weg von der Bühne zu sein und den ultimativen Wettbewerb mit einem originalen
		Pajero zu bestreiten. In der Tenerewüste stellte sich der Mitsubishi Pajero ins
		Rampenlicht, als Zaniroli die Führung übernahm, dicht gefolgt von Cowan. Wo alle
		Anderen versagten fuhr der Pajero in einer eigenen Klasse. nach 22 Tagen erreichten
		die Überlebenden die frische, kühlende Brise des Atlantiks in Dakar und Zaniroli
		und Cowan feierten einen hervorragenden Doppelsieg und das nach nur drei Jahren.
		Es gab keinen Zweifel mehr - Der Pajero war Der König der Wüste.
	</p>
	<h2>
		Endstände
	</h2>
	<table style="width: 100%;">
		<tr style="background-color: khaki;">
			<td style="float: left">
				Pos.
			</td>
			<td style="float: left">
				Nr.
			</td>
			<td style="float: left">
				Fahrer
			</td>
			<td style="float: left">
				Hesteller
			</td>
			<td style="float: left">
				Gesamtzeit
			</td>
		</tr>
		<tr>
			<td>
				1
			</td>
			<td>
				189
			</td>
			<td>
				Zaniroli
			</td>
			<td>
				Mitsubishi Pajero
			</td>
			<td align="right">
				48.27.00
			</td>
		</tr>
		<tr>
			<td>
				2
			</td>
			<td>
				188
			</td>
			<td>
				Cowan
			</td>
			<td>
				Mitsubishi Pajero
			</td>
			<td align="right">
				+ 00.26.19
			</td>
		</tr>
		<tr>
			<td>
				3
			</td>
			<td>
				219
			</td>
			<td>
				Fougerouse
			</td>
			<td>
				Toyota FJ60
			</td>
			<td align="right">
				+ 05.34.32
			</td>
		</tr>
		<tr>
			<td>
				4
			</td>
			<td>
				221
			</td>
			<td>
				Ratet
			</td>
			<td>
				Toyota&nbsp;FJ60
			</td>
			<td align="right">
				+ 12.12.29
			</td>
		</tr>
		<tr>
			<td>
				5
			</td>
			<td>
				205
			</td>
			<td>
				Marreau
			</td>
			<td>
				Renault 1351
			</td>
			<td align="right">
				+ 12.16.31
			</td>
		</tr>
		<tr>
			<td>
				6
			</td>
			<td>
				370
			</td>
			<td>
				Marci
			</td>
			<td>
				<p>
					Range Rover
				</p>
			</td>
			<td align="right">
				+ 13.35.52
			</td>
		</tr>
		<tr>
			<td>
				7
			</td>
			<td>
				420
			</td>
			<td>
				Tezekdjian
			</td>
			<td>
				Mercedes 280
			</td>
			<td align="right">
				+ 14.44.55
			</td>
		</tr>
		<tr>
			<td>
				8
			</td>
			<td>
				211
			</td>
			<td>
				De Deyne
			</td>
			<td>
				Land Rover
			</td>
			<td align="right">
				+ 21.19.30
			</td>
		</tr>
		<tr>
			<td>
				9
			</td>
			<td>
				457
			</td>
			<td>
				De Deyne
			</td>
			<td>
				Toyota BJ40
			</td>
			<td align="right">
				+ 22.30.20
			</td>
		</tr>
		<tr>
			<td>
				10
			</td>
			<td>
				419
			</td>
			<td>
				Bouchet
			</td>
			<td>
				Mercedes 280
			</td>
			<td align="right">
				+ 23.14.34
			</td>
		</tr>
	</table>
</div>

