@page
@model MitsubishiPajero.Pages.Dakar.Rueckblick.Dakar1983Model
@{
	ViewData["Title"] = "Dakar 1983";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h1>
		Zusammenfassung (1983 - Paris - Alger - Dakar)
	</h1>
	<p>
		<img src="~/images/dakar/review/1983/1983_map.jpg" style="float: right; height: 150px;"
			 alt="Die Streckenführung" />
		<img src="~/images/dakar/review/1983/1983_01.jpg" style="float: left; height: 166px;"
			 alt="" />Die Dakar im Jahr 1983, die vom 1 - 20 Januar 10.000 km abdeckte, erforderte
		eine spezielle Art von Maschine. Auf ihrem Weg durch Zentralafrika und hinüber zur
		Westküste des großartigen Kontinentes stellten sich die Fahrer sämtlichen Hindernissen
		begonnen von steinigen Wegen bishin zur offenen sandigen Sahara. Für Mitsubishi
		war die Wahl des Fahrzeugs, für diese epische Hochgeschwindigkeitsreise durch Afrika,
		sehr einfach: Der Pajero - mit seinem kraftvollen Motor und seinem erstaunlich standhaften
		Allradantrieb war er das Highlight der Hochleistungs Off - Roader. Der Pajero debütierte
		nur ein Jahr zuvor in Japan. Er wurde in den 5. Lauf der Paris - Algier-Dakar im
		Standart-Trim eingeführt, wahscheinlich die größte Herausforderung für einen Straßenfahrzeug
		mit kleineren Modifikationen. Am zehnten Tag, hatten Andrew Cowan und Colin Malkin
		ihren Weg an die Spitze der Produktions- und Marathonklasse gefunden und die Blicke
		der Konkurrenz ruhten auf Mitsubishi als
		<img src="~/images/dakar/review/1983//1983_02.jpg" style="float: right; height: 101px;"
			 alt="" />die Newcomer Allen die Show stahlen. Sandstürme, Felsen und extreme
		Hitze konnten nur wenig tun mum den standfesten Pajero zu stoppen und obwohl der
		Pajero die Marathonklasse fuhr, was bedeutet, dass nur wenig am Auto geändert und
		modifiziert werden durfte, rumpelte der Pajero siegreich heimwärts. Am Ende nahmen
		Cowan und Debussy, der den zweiten Wagen pilotierte, zusammen mit ihrem Sonauto/Yamaha
		Team den Teampreis entgegen und machten so den ersten Lauf der Dakar den der Pajero
		bestritt zum größtmöglichen Erfolg.
	</p>
	<h2>
		Endstände
	</h2>
	<table style="width: 100%;">
		<thead>
			<tr>
				<td>
					Position
				</td>
				<td>
					Startnr.
				</td>
				<td>
					Fahrer
				</td>
				<td>
					Hersteller
				</td>
				<td align="right">
					Gesamtzeit
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="width: 48px;">
					1.
				</td>
				<td>
					142
				</td>
				<td>
					Ickx
				</td>
				<td>
					Mercedes 280GE
				</td>
				<td align="right">
					13.07.48
				</td>
			</tr>
			<tr>
				<td style="width: 48px;">
					2.
				</td>
				<td>
					157
				</td>
				<td>
					Trossat
				</td>
				<td>
					Lada
				</td>
				<td align="right">
					+ 00.07.10
				</td>
			</tr>
			<tr>
				<td style="width: 48px;">
					3.
				</td>
				<td>
					158
				</td>
				<td>
					Lartigue
				</td>
				<td>
					Range Rover
				</td>
				<td align="right">
					+ 01.09.00
				</td>
			</tr>
			<tr>
				<td style="width: 48px;">
					4.
				</td>
				<td>
					234
				</td>
				<td>
					Sarrazin
				</td>
				<td>
					Range Rover
				</td>
				<td align="right">
					+ 06.13.49
				</td>
			</tr>
			<tr>
				<td style="width: 48px;">
					5.
				</td>
				<td>
					165
				</td>
				<td>
					Simbille
				</td>
				<td>
					Mercedes 280GE
				</td>
				<td align="right">
					+ 06.55.48
				</td>
			</tr>
			<tr>
				<td style="width: 48px;">
					6.
				</td>
				<td>
					153
				</td>
				<td>
					Colsoul
				</td>
				<td>
					Mercedes 280GE
				</td>
				<td align="right">
					+ 09.16.36
				</td>
			</tr>
			<tr>
				<td style="width: 48px;">
					7.
				</td>
				<td>
					272
				</td>
				<td>
					Ratet
				</td>
				<td>
					Toyota FJ40
				</td>
				<td align="right">
					+ 09.41.40
				</td>
			</tr>
			<tr>
				<td style="width: 48px;">
					8.
				</td>
				<td>
					167
				</td>
				<td>
					Plangon
				</td>
				<td>
					Mercedes 280GE
				</td>
				<td align="right">
					+ 10.36.43
				</td>
			</tr>
			<tr>
				<td style="width: 48px;">
					9.
				</td>
				<td>
					150
				</td>
				<td>
					Marreau
				</td>
				<td>
					Renault 18
				</td>
				<td align="right">
					+ 10.32.12
				</td>
			</tr>
			<tr>
				<td style="width: 48px;">
					10.
				</td>
				<td>
					160
				</td>
				<td>
					Kurrer
				</td>
				<td>
					Portaro
				</td>
				<td align="right">
					+ 11.58.36
				</td>
			</tr>
		</tbody>
	</table>
	<h2>
		Streckenführung
	</h2>
	<table style="width: 100%">
		<thead>
			<tr>
				<td>
					Start - Ziel
				</td>
				<td>
					Länge
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="width: 387px">
					Gremuses
				</td>
				<td>
					3,6km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Les Guarrigues
				</td>
				<td>
					10km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Alger - Touggourt
				</td>
				<td>
					771km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Touggourt - Ouargla
				</td>
				<td>
					171km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Ouargla - Chebaba
				</td>
				<td>
					239km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Chebaba - Bordj - Omar Driss
				</td>
				<td>
					429km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Bordj Omar Driss - Illizi
				</td>
				<td>
					320km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Illizi-Djanet
				</td>
				<td>
					401km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Djanet-Chirfa
				</td>
				<td>
					532km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Chirfa-Dirkou
				</td>
				<td>
					532km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Dirkou-Agadez
				</td>
				<td>
					617km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Agadez-In Gall
				</td>
				<td>
					115km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Nara-Timbreda
				</td>
				<td>
					162km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Timbreda - Kiffa
				</td>
				<td>
					Liaison
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Kiffa-Kaedi
				</td>
				<td>
					307km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Kaedi - Tiougoune
				</td>
				<td>
					470km
				</td>
			</tr>
			<tr>
				<td style="width: 387px;">
					Tiougoune - Dakar
				</td>
				<td>
					130km
				</td>
			</tr>
		</tbody>
	</table>
</div>

