@page
@model MitsubishiPajero.Pages.Dakar.Rueckblick.Dakar1989Model
@{
	ViewData["Title"] = "Dakar 1989";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h1>
		Zusammenfassung (1989 - Paris - Tunis - Dakar)
	</h1>
	<p>
		<img src="1989_map.jpg" alt="" style="float:left;" />
		Auf der andauerenden Suche nach einer neuen Herausforderung, änderte die Dakar ihr
		Format mit einer Route die das 472-köpfige Starterfeld das erste Mal durch Lybien
		führte. Der Gedanke man würde von der Bevölkerung nicht herzlich willkommen geheißen
		werden wurde rasch von deren großzügiger Gastfreundschaft zerstreut, das ist mehr
		als man von der tückischen und lehrreichen lybischen Wüste sagen konnte. Wieder
		einmal nahm ein weites Feld von Pajeros teil, von den Prototypen, einer wurde von
		Formel 1 Fahrer Patrick Tambay pilotiert, bis hin zu einer verblüüfenden Replik
		eines PX-33. Das Sonauto-Mitsubishiteam war das größte Herstellerteam, das es bis
		dahin gegeben hatte. Sieben Autos brachte es an den Start 6 Pajeros und eine PX-33
		<img src="1989_01.jpg" alt="" style="float:right;" />
		Replik. Lartigue, Cowan und Da Silva fuhren in den Autos mit Nikon als Sponsor,
		während Tambay, Shinozuka und Fontenay in den Citizenautos Platz nahmen. Der PX-33,
		eine Replik des ersten allradgetriebenen Wagen in Japan wurde von Jaussaud gefahren.
		Die 11,000 km der Ralley wurden diesmla an Weihnachten in Angriff genommen um eine
		Überschneidung mit der Rallye Monte Carlo zu vermeiden.
		<img src="1989_02.jpg" alt="" style="float:left;" />Das Rennen wurde ein Drama
		das bald Motorsportlegende wurde, als die Mitsubishis zuerst an der geringen Qualität&nbsp;
		des Benzins litten. Nach der halben Etappe bei Agadez hatte Tambay sich auf den
		dritten Gesamtplatz vorgekämpft, während Lartigue’s hochgezüchteter Motor genug
		von der geringen Qualität des Treibstoffs hatte und den Dienst quittierte. Tambay
		behielt seinen dritten Gesamtplatz bis ins Ziel, währende Shinozuka mit seinem Sprint
		durch die Ränge von Platz 19 auf den sechsten Platz der Held der Rallye wurde. In
		der Klasse der seriennahen Wagen führte Mitsubishi erstmals den neuen V6 - Motor
		mit dem prompt 5 Fahrer unter den ersten zehn landeten. Under der PX-33? Der überlebte
		die Rallye und wurde 31. im Gesamtklassement.
	</p>
	<h2>
		Endstände
	</h2>
	<table width="100%">
		<tr>
			<td class="titlerow">
				Position
			</td>
			<td class="titlerow">
				Startnummer
			</td>
			<td class="titlerow">
				Fahrer
			</td>
			<td class="titlerow">
				Hersteller / Wagen
			</td>
			<td style="text-align: right" class="titlerow">
				Gesamtzeit
			</td>
		</tr>
		<tr>
			<td>
				1.
			</td>
			<td>
				204
			</td>
			<td>
				Vatanen
			</td>
			<td>
				Peugeot
			</td>
			<td style="text-align: right">
				26.04.47
			</td>
		</tr>
		<tr>
			<td>
				2.
			</td>
			<td>
				206
			</td>
			<td>
				Ickx
			</td>
			<td>
				Peugeot
			</td>
			<td style="text-align: right">
				+ 00.01.44
			</td>
		</tr>
		<tr>
			<td>
				3.
			</td>
			<td>
				211
			</td>
			<td>
				Tambay
			</td>
			<td>
				Mitsubishi Pajero
			</td>
			<td style="text-align: right">
				+ 03.53.10
			</td>
		</tr>
		<tr>
			<td>
				4.
			</td>
			<td>
				205
			</td>
			<td>
				Frequelin
			</td>
			<td>
				Peugeot
			</td>
			<td style="text-align: right">
				+ 05.41.28
			</td>
		</tr>
		<tr>
			<td>
				5.
			</td>
			<td>
				228
			</td>
			<td>
				Tjisterman
			</td>
			<td>
				Mitsubishi Pajero
			</td>
			<td style="text-align: right">
				+ 06.30.11
			</td>
		</tr>
		<tr>
			<td>
				6.
			</td>
			<td>
				212
			</td>
			<td>
				Shinozuka
			</td>
			<td>
				Mitsubishi Pajero
			</td>
			<td style="text-align: right">
				+ 07.01.31
			</td>
		</tr>
		<tr>
			<td>
				7.
			</td>
			<td>
				213
			</td>
			<td>
				Fontenay
			</td>
			<td>
				Mitsubishi Pajero
			</td>
			<td style="text-align: right">
				+ 08.25.42
			</td>
		</tr>
		<tr>
			<td>
				8.
			</td>
			<td>
				207
			</td>
			<td>
				Wambergue
			</td>
			<td>
				Peugeot
			</td>
			<td style="text-align: right">
				+ 09.01.44
			</td>
		</tr>
		<tr>
			<td>
				9.
			</td>
			<td>
				235
			</td>
			<td>
				Seppi
			</td>
			<td>
				Mercedes
			</td>
			<td style="text-align: right">
				+ 11.00.16
			</td>
		</tr>
		<tr>
			<td>
				10.
			</td>
			<td>
				210
			</td>
			<td>
				Da Silva
			</td>
			<td>
				Mitsubishi Pajero
			</td>
			<td style="text-align: right">
				+ 13.02.32
			</td>
		</tr>
	</table>
</div>

