@page
@model MitsubishiPajero.Pages.Dakar.Rueckblick.Dakar2007Model
@{
	ViewData["Title"] = "Dakar 2007";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>
			Zusammenfassung (2007 - Lissabon - Dakar)
		</h1>
		<h2>
			Endstände
		</h2>
		<table width="100%">
			<tr>
				<td width="5%" class="titlerow">
					Pos.
				</td>
				<td style="width: 231px" class="titlerow">
					Fahrer
				</td>
				<td style="width: 99px" class="titlerow">
					Hesteller
				</td>
				<td align="right" width="30%" class="titlerow">
					Gesamtzeit
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					1
				</td>
				<td style="width: 231px">
					Stéphane Peterhansel / Gilles Picard
				</td>
				<td style="width: 99px">
					Mitsubishi Pajero
				</td>
				<td align="right">
					45.53.37
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					2
				</td>
				<td style="width: 231px">
					Luc Alphand / Gilles Picard
				</td>
				<td style="width: 99px">
					Mitsubishi Pajero
				</td>
				<td align="right">
					46.01.03
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					3
				</td>
				<td style="width: 231px">
					Jean-Louis Schlesser / Arnaud Debron
				</td>
				<td style="width: 99px">
					Schles-Ford-Raid
				</td>
				<td align="right">
					47.27.34
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					4
				</td>
				<td style="width: 231px">
					Mark Miller / Ralph Pitchford
				</td>
				<td style="width: 99px">
					Volkswagen Race Touareg
				</td>
				<td align="right">
					48.03.08
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					5
				</td>
				<td style="width: 231px">
					Hiroshi Masuoka / Pascal Maimon
				</td>
				<td style="width: 99px">
					Mitsubishi Pajero
				</td>
				<td align="right">
					48.38.08
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					6
				</td>
				<td style="width: 231px">
					Nasser Al Attiyah / Alain Guehennec
				</td>
				<td style="width: 99px">
					BMW
				</td>
				<td align="right">
					49.25.36
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					7
				</td>
				<td style="width: 231px">
					Carlos Sousa / Andreas Schulz
				</td>
				<td style="width: 99px">
					Volkswagen Race Touareg
				</td>
				<td align="right">
					51.04.31
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					8
				</td>
				<td style="width: 231px">
					Robby Gordon / Andy Grider
				</td>
				<td style="width: 99px">
					Hummer
				</td>
				<td align="right">
					52.57.44
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					9
				</td>
				<td style="width: 231px">
					Carlos Sousa / Michel Perin
				</td>
				<td style="width: 99px">
					Volkswagen Race Touareg
				</td>
				<td align="right">
					53.19.22
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					10
				</td>
				<td style="width: 231px">
					Stephane Henrad / Brigitte Becue
				</td>
				<td style="width: 99px">
					Volkswagen Race Touareg
				</td>
				<td align="right">
					54.22.06
				</td>
			</tr>
		</table>
	</div>

