@page
@model MitsubishiPajero.Pages.Dakar.Rueckblick.Dakar1986Model
@{
	ViewData["Title"] = "Dakar 1986";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>
			Zusammenfassung (1986 - Paris - Alger - Daker)
		</h1>
		<p>
			<img src="../../../Dakar/Review/1986/1986_map.jpg" style="float: left; height: 101px" />Der
			Geist des Abenteuers und der Wettbewerb waren lange Zeit der Eckstein des Mitsubishi
			Motorsport. Und nirgendwo wurde dieser Geist besser demonstriert als auf der rallye
			Paris - Dakar, die wahrscheinlich die beliebteste Rallye der Welt ist. Seit 1986
			war der Pajero der
			<img src="../../../Dakar/Review/1986/1986_01.jpg" style="float: right; height: 128px" />Meister
			solcher Motorsportereignisse, bekannt als die verläßlichste und härteste Maschine
			der Welt in solchen Belangen. Wieder hieß
			<img src="../../../Dakar/Review/1986/1986_02.jpg" style="float: left; height: 106px" />bei
			dieser wahnsinnigen Herrausforderung über 14.000 km und 22 Tage durch di e afrikanische
			Wüste zu donnern. Mit drei erfolgreichen Jahren im Rücken startete der Pajero diesmal
			als einer der Favopuriten in das Rennen. Dem Pajero gelang es die Vorjahreserfolge
			zu mit dem dritten, dem fünften und dem siebten Platz in der Gesamtwertung zu bestätigen
			und zum vierten Mal in Folge den Marathon Sieg zu holen. Es war nicht der Glanz
			der vergangenen Jahre doch bewies der Pajero abermals seine standfestigkeit und
			seine Ausdauer und etablierte sich als der Wagen den es zu schalgen galt.
		</p>
		<h2>
			Endstände
		</h2>
		<table style="width: 100%;">
			<tr style="background-color: #f0e68c;">
				<td>
					Pos.
				</td>
				<td>
					Nr.
				</td>
				<td>
					Fahrer
				</td>
				<td>
					Hesteller
				</td>
				<td style="text-align: right;">
					Gesamtzeit
				</td>
			</tr>
			<tr>
				<td>
					1
				</td>
				<td>
					186
				</td>
				<td>
					Metge
				</td>
				<td>
					Porsche 959
				</td>
				<td style="text-align: right;">
					41.26.45
				</td>
			</tr>
			<tr>
				<td>
					2
				</td>
				<td>
					185
				</td>
				<td>
					Ickx
				</td>
				<td>
					Porsche 959
				</td>
				<td style="text-align: right;">
					+ 01.45.27
				</td>
			</tr>
			<tr>
				<td>
					3
				</td>
				<td>
					190
				</td>
				<td>
					Rigal
				</td>
				<td>
					Mitsubishi Pajero
				</td>
				<td style="text-align: right;">
					+ 04.59.19
				</td>
			</tr>
			<tr>
				<td>
					4
				</td>
				<td>
					198
				</td>
				<td>
					Lartigue
				</td>
				<td>
					Lada Niva
				</td>
				<td style="text-align: right;">
					+ 07.28.32
				</td>
			</tr>
			<tr>
				<td>
					5
				</td>
				<td>
					188
				</td>
				<td>
					Cowan
				</td>
				<td>
					Mitsubishi Pajero
				</td>
				<td style="text-align: right;">
					+ 07.30.33
				</td>
			</tr>
			<tr>
				<td>
					6
				</td>
				<td>
					187
				</td>
				<td>
					Kussmaul
				</td>
				<td>
					Porsche 959
				</td>
				<td style="text-align: right;">
					+ 07.39.34
				</td>
			</tr>
			<tr>
				<td>
					7
				</td>
				<td>
					189
				</td>
				<td>
					Zaniroli
				</td>
				<td>
					Mitsubishi Pajero
				</td>
				<td style="text-align: right;">
					+ 13.39.07
				</td>
			</tr>
			<tr>
				<td>
					8
				</td>
				<td>
					193
				</td>
				<td>
					Gabreau
				</td>
				<td>
					Range Rover
				</td>
				<td style="text-align: right;">
					+ 14.48.45
				</td>
			</tr>
			<tr>
				<td>
					9
				</td>
				<td>
					223
				</td>
				<td>
					Bouchet
				</td>
				<td>
					Toyota FJ 60
				</td>
				<td style="text-align: right;">
					+ 17.11.03
				</td>
			</tr>
			<tr>
				<td>
					10
				</td>
				<td>
					401
				</td>
				<td>
					Gierst
				</td>
				<td>
					Range Rover
				</td>
				<td style="text-align: right;">
					+ 19.42.57
				</td>
			</tr>
		</table>

	</div>
