@page
@model MitsubishiPajero.Pages.Dakar.Rueckblick.Dakar1991Model
@{
	ViewData["Title"] = "Dakar 1991";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h1>
		Zusammenfassung (1991 - Paris - Tripoli - Dakar)
		</p>
		<p>
			<img src="1991_map.jpg" alt="" style="float:left;" />
			Die Rallye von 1991 war der 13. und bisher herausvordernste Lauf dieses großartigen
			Motorsportspektakels. Mitsubishi zog erneut aus um seinen fantastischen Rekord zu
			halten und seinen Erfolg von 1985 zu wiederholen. Wie im Vorjahr schickte Mitusbishi
			seinen bis dahin erfolgreichsten World championchip Teilnehmer ins Rennen, Kenneth
			Eroksson, der mehr an Schotterpisten und Asphaltstraßen gewöhnt war, die er mit
			seinem Galant VR-4 unter die Räder nahm. Wie viele andere Fahrer die im Pajero an
			&nbsp;
			der Dakar teilnahmen fand er das der Pajero ihm die Strecke,
			<img src="1991_01.jpg" alt="" style="float:right" />mit seiner superben
			Performance und verblüffenden Handling und Standfestigkeit, vereinfachtet - Qualitäten
			mit denen Eriksson schon vertraut war. Der neue Pajero Prototyp war schon ein Gewinner
			bevor sich
			<img src="1991_02.jpg" alt="" style="float:left" />auch nur ein Rad bei der Dakar drehte, den er hatte erfolgreich an der
			Australien Safari teilgenommen mit Shinozuka am Steuer. Doch die Entwicklung raste
			mit erstaunlichem Tempo vorran und die Maschinen die bei der 13. Dakar an den Start
			gingen waren die bisher höchst entwickleten. Lartigue, Shinozuka und Fontenay schlossen
			sich Eriksson an um die neuste Herausfoderung duch NordWestAfrika zu bestreiten.
			Wieder dominierte Mitsubishi die Wertungstabelle mit drei Wagen unter den besten
			fünf. Es war eine herausragende Leistung, doch sollte es nur ein Vorgeschmack auf
			das beste Ergebnis aller Zeiten sein..
		</p>
		<h2>
			Endstände
		</h2>
		<table width="100%">
			<tr>
				<td width="5%" class="titlerow">
					Pos.
				</td>
				<td width="5%" class="titlerow">
					Nr.
				</td>
				<td width="30%" class="titlerow">
					Fahrer
				</td>
				<td width="30%" class="titlerow">
					Hesteller
				</td>
				<td align="right" width="30%" class="titlerow">
					Gesamtzeit
				</td>
			</tr>
			<tr>
				<td>
					1
				</td>
				<td>
					201
				</td>
				<td>
					Vatanen
				</td>
				<td>
					Citroen
				</td>
				<td align="right">
					32.20.50
				</td>
			</tr>
			<tr>
				<td>
					2
				</td>
				<td>
					205
				</td>
				<td>
					Lartigue
				</td>
				<td>
					Mitsubishi Pajero
				</td>
				<td align="right">
					+ 03.24.06
				</td>
			</tr>
			<tr>
				<td>
					3
				</td>
				<td>
					208
				</td>
				<td>
					Fontenay
				</td>
				<td>
					Mitsubishi Pajero
				</td>
				<td align="right">
					+ 03.24.06
				</td>
			</tr>
			<tr>
				<td>
					4
				</td>
				<td>
					206
				</td>
				<td>
					Eriksson
				</td>
				<td>
					Mitsubishi Pajero
				</td>
				<td align="right">
					+ 04.54.36
				</td>
			</tr>
			<tr>
				<td>
					5
				</td>
				<td>
					210
				</td>
				<td>
					Auriol
				</td>
				<td>
					Lada Samara
				</td>
				<td align="right">
					+ 06.03.29
				</td>
			</tr>
			<tr>
				<td>
					6
				</td>
				<td>
					204
				</td>
				<td>
					Ambrosino
				</td>
				<td>
					Citroen
				</td>
				<td align="right">
					+ 07.03.34
				</td>
			</tr>
			<tr>
				<td>
					7
				</td>
				<td>
					209
				</td>
				<td>
					Tambay
				</td>
				<td>
					Lada Samara
				</td>
				<td align="right">
					+ 08.10.57
				</td>
			</tr>
			<tr>
				<td>
					8
				</td>
				<td>
					279
				</td>
				<td>
					Bouchet
				</td>
				<td>
					Nissan
				</td>
				<td align="right">
					+ 08.54.33
				</td>
			</tr>
			<tr>
				<td>
					9
				</td>
				<td>
					214
				</td>
				<td>
					Sarrazin
				</td>
				<td>
					Toyota
				</td>
				<td align="right">
					+ 12.22.22
				</td>
			</tr>
			<tr>
				<td>
					10
				</td>
				<td>
					212
				</td>
				<td>
					Ratet
				</td>
				<td>
					Toyota
				</td>
				<td align="right">
					+ 13.21.53
				</td>
			</tr>
		</table>
</div>

