@page
@model MitsubishiPajero.Pages.Dakar.Rueckblick.Dakar1994Model
@{
	ViewData["Title"] = "Dakar 1994";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h1>
		Zusammenfassung (1994 - Paris - Dakar - Paris)
	</h1>
	<p>
		<img src="1994_map.jpg" alt="" style="float:left" />
		Die 16. Dakar ging als ein der dramtischsten in die Geischichte ein, wobei das Mitsubishiteam
		einen Grad von Ehre und Zusammenhalt zeigte der von keinem anderen Team erziehlt
		wurde - und während die Pajeros aus dem Rennen genommen wurden, waren sie trotzdem
		die einzigen Maschinen die es schafften die Death Dunes der mauretanischen Wüste
		zu durchqueren. Noch frühzeitigen Problemen waren die Pajeros gerade bei einer rasanten
		<img src="1994_01.jpg" alt="" style="float:right;" />
		Aufholjagd als sie auf die mauretanischen Dünen stießen. Diese Sektion der Wüste
		wurde nie zuvor von motorisierten Fahrzeugen durchquert und so gaben Mitsubishis
		Rivalen auf und fuhren direkt zum Biwak. Die Pajeros blieben auf der Strecke und
		unter Führung von Saby lieferten sie sich einen dreizig stündigen Kampf mit der
		Wüste und gingen als die einzigen Fahrzeuge die diesen Teil der Wüste<img src="1994_02.jpg" alt="" style="float:right;" />
		jemals durchquert&nbsp;
		hatte aus dem Kampf hervor. Der einzige Dank für ihre Mühen war, daß die Sektion
		aus der Wertung genommen wurde. Die anderen Crew waren glimpflich davon gekommen,
		doch das Mitsubishiteam war zu ausgelaugt und so mußten die Prototypen aus dem Rennen
		nehmen. Mit Stolz und Zufriedenheitund dem Wissen das die Pajeros erreicht hatten,
		wozu kein Anderer in der Lage war blickte das Mitsubishiteam auf seinen Erfolge
		und nicht zuletzt auf den Sieg in der Standart- und Modifiziertenklasse.
	</p>
	<h2>
		Endstände
	</h2>
	<table width="100%">
		<tr>
			<td width="5%" class="titlerow">
				Pos.
			</td>
			<td width="5%" class="titlerow">
				Nr.
			</td>
			<td width="30%" class="titlerow">
				Fahrer
			</td>
			<td width="30%" class="titlerow">
				Hesteller
			</td>
			<td align="right" width="30%" class="titlerow">
				Gesamtzeit
			</td>
		</tr>
		<tr>
			<td>
				1
			</td>
			<td>
				206
			</td>
			<td>
				Saby
			</td>
			<td>
				Mitsubishi Pajero
			</td>
			<td align="right">
				24.56.02
			</td>
		</tr>
		<tr>
			<td>
				2
			</td>
			<td>
				210
			</td>
			<td>
				Lartigue
			</td>
			<td>
				Citroen ZX
			</td>
			<td align="right">
				+ 01.09.45
			</td>
		</tr>
		<tr>
			<td>
				3
			</td>
			<td>
				212
			</td>
			<td>
				Auriol
			</td>
			<td>
				Citroen ZX
			</td>
			<td align="right">
				+ 04.02.08
			</td>
		</tr>
		<tr>
			<td>
				4
			</td>
			<td>
				207
			</td>
			<td>
				Weber
			</td>
			<td>
				Mitsubishi Pajero
			</td>
			<td align="right">
				+ 06.14.38
			</td>
		</tr>
		<tr>
			<td>
				5
			</td>
			<td>
				205
			</td>
			<td>
				Shinozuka
			</td>
			<td>
				Mitsubishi Pajero
			</td>
			<td align="right">
				+ 06.24.51
			</td>
		</tr>
		<tr>
			<td>
				6
			</td>
			<td>
				209
			</td>
			<td>
				Servia
			</td>
			<td>
				Lada Samara
			</td>
			<td align="right">
				+ 08.25.24
			</td>
		</tr>
		<tr>
			<td>
				7
			</td>
			<td>
				214
			</td>
			<td>
				Ambrosiono
			</td>
			<td>
				Citroen ZX
			</td>
			<td align="right">
				+ 11.10.45
			</td>
		</tr>
		<tr>
			<td>
				8
			</td>
			<td>
				211
			</td>
			<td>
				Vatanen
			</td>
			<td>
				Citroen ZX
			</td>
			<td align="right">
				+ 11.42.58
			</td>
		</tr>
		<tr>
			<td>
				9
			</td>
			<td>
				215
			</td>
			<td>
				Vismara
			</td>
			<td>
				Land Rover
			</td>
			<td align="right">
				+ 15.19.47
			</td>
		</tr>
		<tr>
			<td>
				10
			</td>
			<td>
				500
			</td>
			<td>
				Perlini
			</td>
			<td>
				Perlin 105F
			</td>
			<td align="right">
				+ 16.32.53
			</td>
		</tr>
	</table>
</div>

