@page
@model MitsubishiPajero.Pages.Dakar.Rueckblick.IndexModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>Rückblick</h1>
		<p>
			Der Pajero nimmt nun schon seit dem Jahr 1983 erfolgreich an der Rallye Dakar teil.
			Dabei gab es Höhen und Tiefen sowie spektakuläre Ereignisse und Rennen. Seine Erfolge
			werden hier Jahr für Jahr wiedergegeben.
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1983">1983 - Paris - Alger - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1984">1984 - Paris - Alger - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1985">1985 - Paris - Alger - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1986">1986 - Paris - Alger - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1987">1987 - Paris - Alger - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1988">1988 - Paris - Alger - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1989">1989 - Paris - Tunis - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1990">1990 - Paris - Tripoli - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1991">1991 - Paris - Tripoli - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1992">1992 - Paris - Sirte - Cape Town</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1993">1993 - Paris - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1994">1994 - Paris - Dakar - Paris</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1995">1995 - Granada - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1996">1996 - Granada - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1997">1997 - Dakar - Agades - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1998">1998 - Paris - Gao - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar1999">1999 - Granada - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar2000">2000 - Paris - Dakar - Kairo</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar2001">2001 - Paris - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar2002">2002 - Aras - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar2003">2003 - Marseilles - Sharm El Sheik</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar2004">2004 - Clermont - Ferrand</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar2005">2005 - Bacelona - Dakar</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar2006">2006</a>
		</p>
		<p>
			<a asp-page="/Dakar/Rueckblick/Dakar2007">2007</a>
		</p>
	</div>