@page
@model MitsubishiPajero.Pages.Dakar.Fahrer.FontenayModel
@{
    ViewData["Title"] = "Jean-Pierre Fontenay";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Jean-Pierre Fontenay</h1>
    <figure>
        <img src="~/images/dakar/driver/Fontenay/Fontenay.jpg" />
    </figure>
    <p>

    </p>
</div>
