@page
@model MitsubishiPajero.Pages.Dakar.Fahrer.IndexModel
@{
	ViewData["Title"] = "Fahrer";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h2>
		Die Fahrer
	</h2>
	<p>
		Die moderenen Gladiatoren sind die Fahrer von Rennwagen. Gerade der Vergleich zum
		Gladiator beschreibt den Teilnahme an der Dakar sehr treffend. Trotz hoher Sicherheitsstandard
		verunglückt beinahe jedes Jahr ein Fahrer tödlich. Meist trifft es die weniger geschützten
		Motorradfahrer, doch auch Rennwagen und Lkw-Piloten sind vor tötdlichen Unfällen
		nicht gefeit. Den mutigen Männern und Frauen, die sich mit einem Pajero durch den
		Sand von Nordafrika gekämpft haben wird hier die nötige Ehre erwiesen.
	</p>
	<table>
		<tr>
			<td><a href="Fontenay/Fontenay.aspx">Jean-Pierre Fontenay</a></td>
		</tr>
		<tr>
			<td><a href="Kleinschmidt/Kleinschmidt.aspx">Jutta Kleinschmidt</a></td>
		</tr>
		<tr>
			<td><a href="Magne/Magne.aspx">Henry Magne</a></td>
		</tr>
		<tr>
			<td><a href="Masuoka/Masuoka.aspx">Hiroshi Masuoka</a></td>
		</tr>
		<tr>
			<td><a href="Mayer/Mayer.aspx">Andrea Mayer</a></td>
		</tr>
		<tr>
			<td><a href="Peterhansel/Peterhansel.aspx">Stéphane Peterhansel</a></td>
		</tr>
		<tr>
			<td><a href="Picard/Picard.aspx">Gilles Picard</a></td>
		</tr>
		<tr>
			<td><a href="Schulz/Schulz.aspx">Andreas Schulz</a></td>
		</tr>
		<tr>
			<td><a href="Serieys/Serieys.aspx">Domique Serieys</a></td>
		</tr>
		<tr>
			<td><a href="Shinozuka/Shinozuka.aspx">Kenjiro Shinozuka</a></td>
		</tr>
	</table>
</div>

