@page
@model MitsubishiPajero.Pages.Dakar.Fahrer.FontenayModel
@{
	ViewData["Title"] = "Jutte Kleinschmidt";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h1>Jutta Kleimschmidt</h1>
	<figure>
		<img src="~/images/dakar/driver/Kleinschmidt/Kleinschmidt.jpg" />
	</figure>
	<p class="title">
		Jutta Kleinschmidt
	</p>
	<h2>
		(Deutschland - 29. August 1962)
	</h2>
	<p>
		Von 1987, als Sie das erste Mal an der Pharao Rallye teilnahm, bis 1992 trat sie
		in der Motorradwertung in vielen Cross Country Rallies an und errang eine Menge
		Erfolge. Auf vier Rädern griff sie erstmals 1993 als Beifahrer von Jean-Louis Schlesser
		in der UAE Desert Challange an. Die Saison 1994 sah sie in der Tunesien Rallye debütieren.
		Von da an bis 1996 trat sie in einigen Wettbewerben auf Motorrädern und Geländewagen
		an und erfuhr viele gute Resultate. Im Folgejahr startete sie exklusiv mit Allradern.
		Sie begann die Dakar-Agades-Dakar Rallye mit dem fünften Gesamtplatz und zeigt der
		Welt was für ein Potenzial in ihr steckte. 2001 war es dann soweit. Sie errang ihren
		größten Sieg: Den ersten Platz bei der Dakar.
	</p>
	<p>
		<a href="http://www.jutta-kleinschmidt.com">www.jutta-kleinschmidt.com</a>
	</p>
</div>
