@page
@model MitsubishiPajero.Pages.Dakar.Fahrer.FontenayModel
@{
    ViewData["Title"] = "Henri Magne";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>Henri Magne</h1>
		<figure>
			<img src="~/images/dakar/driver/Fontenay/Fontenay.jpg" />
		</figure>
		<p class="title">
			Henri Magne
		</p>
		<h2>
			(Frankreich - 9. Mai 1953)
		</h2>
		<p>
			Henri Magne wurde im März 1953 in Frankreich geboren und lebt heute in Andorra.
			Er began seine Motorsportkarriere in der Formel 3 Fahrerschule 1973 in&nbsp; Magny-Cours
			und tummelte sich während der 1970er Jahre in der französischen Motorsportszene.
			1982 nahm er das erste Mal an der DAkar Rallye teil. Er wurde 21ster in der Gesamtwertung
			und 1 in seiner Kategorie. 1985 war er Beifahrer in einem Truck für den schnellen
			Service im offiziellen Mitsubishi-Team und wurde neunter in der LWK-Wertung. Seiner
			Karriere machten einen Sprung nach vorne, als er 1988 mit Kenjiro Shinozuka im Auto
			zweiter der Gesamtwertung bei der Dakar wurde.Er gewann die Dakar das erste Mal
			1997 mit Shinozuka als Fahrer und wiederholte seinen Erfolg 2000 im Auto von Jean-Louis
			Schlesse. Er kam als Vierter durch Ziel, als er 2003 mit Carlos Sousa fuhr und erreichte
			die gleiche Position mit Luc Alphand im Jahre 2004. Die Beiden, er und Sousa, gewannen
			2003 ebenfalls den FIA World Cup Titel und den 2004er European Baja Cup. Nachdem
			er 2004 bei der UAE Desert Challenge im Wagen von Andrea Mayer teilnahm, fuhr er
			das erste Mal mit Joan Roma die 2004er Qatar Baja und dann die 2005er Dakar Rallye
			und danach die folgende Season, deren Höhepunkt der gemeinsame Gewinnder Baja Spain
			Aragon war.
		</p>
	</div>
