@page
@model MitsubishiPajero.Pages.Dakar.Fahrer.FontenayModel
@{
	ViewData["Title"] = "Andrea Mayer";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h1>Andrea Mayer</h1>
	<figure>
		<img src="~/images/dakar/driver/Mayer/Mayer.jpg" />
	</figure>
	<p class="title">
		Andrea Mayer
	</p>
	<h2>
		(Deutschland - 2. Januar 1986)
	</h2>
	<p>
		<a href="http://www.andrea-mayer.de">www.andrea-mayer.de</a>
	</p>
</div>
