@page
@model MitsubishiPajero.Pages.Dakar.Fahrer.FontenayModel
@{
    ViewData["Title"] = "Stéphane Peterhansel";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>Stéphane Peterhansel</h1>
		<figure>
			<img src="~/images/dakar/driver/Peterhansel/Peterhansel.jpg" />
		</figure>
		<p class="title">
			Stéphane Peterhansel
		</p>
		<h2>
			(Frankreich - 6. August 1965)
		</h2>
		<p>
			<a href="http://www.stephanepeterhansel.com">www.stephanepeterhansel.com</a>
		</p>
	</div>
