@page
@model MitsubishiPajero.Pages.Dakar.Fahrer.FontenayModel
@{
    ViewData["Title"] = "Gilles Picard";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>Gilles Picard</h1>
		<figure>
			<img src="~/images/dakar/driver/Picard/Picard.jpg" />
		</figure>
		<p class="title">
			Gilles Picard
		</p>
		<h2>
			(Frankreich - 19. März 1955)
		</h2>
		<p>
			- Ehemaliger Motorrad-Enduropilot auf Husqvarna, Cagiva und Yamaha - 1998: Gewinner
			der Rallye Dakar (Kopilot) - 2003 und 2004: Platz zwei der Gesamtwertung bei der
			Rallye Dakar (Kopilot)
		</p>
		<p>
			Der Franzose Gilles Picard, geboren im März 1955, ist Vater dreier Kinder. Er begann
			1973 seine Laufbahn im Enduro-Motorradsport und nahm zwischen 1973 und 1992 als
			Werksfahrer von Husqvarna, Cagiva und Yamaha an zahlreichen Wettbewerben teil. Später
			wechselte er auf den Beifahrersitz ins Rallyeauto und bildete mit Hubert Auriol
			und Ari Vatanen Fahrergespanne im Citroën-Werksteam. Dann wechselte er zu Mitsubishi
			Motors und begann eine erfolgreiche Zusammenarbeit mit seinem Landsmann Jean-Pierre
			Fontenay. 1998 gewannen die beiden die UAE Desert Challenge und triumphierten im
			gleichen Jahr erstmals bei der Rallye Dakar. In 2000 erreichten sie jeweils dritte
			Plätze in Dakar, Marokko und Por Las Pampas und wurden Vierte in Dubai. 2003 folgten
			Podiumsplätze bei der Baja Italien und bei der UAE Desert Challenge, außerdem ein
			hervorragender zweiter Rang bei der Rallye Dakar. Als Fontenay nach der Dakar 2003
			seine aktive Laufbahn beendete, bildete Gilles mit Hiroshi Masuoka ein neues Team,
			das 2003 bei der Baja Italien siegte und im Januar 2004 Platz zwei bei der Rallye
			Dakar belegte. 2005 wird Gilles Picard als Beifahrer von Luc Alphand die Rallye
			Dakar bestreiten.
		</p>
	</div>
