@page
@model MitsubishiPajero.Pages.Dakar.Fahrer.FontenayModel
@{
    ViewData["Title"] = "Andreas Schulz";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>Andreas Schulz</h1>
		<figure>
			<img src="~/images/dakar/driver/Schulz/Schulz.jpg" />
		</figure>
		<p class="title">
			Andreas Schulz
		</p>
		<h2>
			(Deutschland - 3. März 1955)
		</h2>
		<p>
			Andreas Schulz arbeitet bei Ralliart Deutschland: Er nahm 1995 an der, für Mitsubishi,
			erfolgreichen World Rally Championship teil, die mit seinem Sieg in der Gruppe N
			auf einem Lancer Evolution III endete. Andreas Schulz abreitet mit Jorge Recalde
			und Isolde Holderied, die den Ladies Cup zweimal gewinnen konnten. Während der Saison
			1995 nahm er an allen Rallyes teil, die abseits der RAC Rally in Great Britain stattfanden.
		</p>
	</div>
