@page
@model MitsubishiPajero.Pages.Dakar.Fahrer.FontenayModel
@{
    ViewData["Title"] = "Dominique Serieys";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>Dominique Serieys</h1>
		<figure>
			<img src="~/images/dakar/driver/Serieys/Serieys.jpg" />
		</figure>
		<p class="title">
			Dominique Serieys
		</p>
		<h2>
			(Frankreich - 4. Juli 1961)
		</h2>
		<p>
			Als Kopf der Planung bei Grenoble Sport Auto (Bruno Saby's Motorsport Service),
			arbeitet Serieys seit der Atlas 1992 auch als Beifahrer von Saby beim Team-Mitsubishi.
		</p>
	</div>
