@page
@model MitsubishiPajero.Pages.Dakar.Autos.EvolutionModel
@{
	ViewData["Title"] = "Evolution";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>
			Dakar Evolution
		</h1>
		<partial name="~/Pages/Shared/_GalleryPartial.cshtml" model="Model.GalleryVM" />
	</div>