@page
@model MitsubishiPajero.Pages.Dakar.Autos.L040Model
@{
	ViewData["Title"] = "L040";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>
			Dakar L040
		</h1>
		<partial name="~/Pages/Shared/_GalleryPartial.cshtml" model="Model.GalleryVM" />
	</div>