@page
@model MitsubishiPajero.Pages.Dakar.Autos.V20Model
@{
	ViewData["Title"] = "V20";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>
			Dakar V20
		</h1>
		<partial name="~/Pages/Shared/_GalleryPartial.cshtml" model="Model.GalleryVM" />
	</div>