@page
@model MitsubishiPajero.Pages.Modelle.V80.IndexModel
@{
	ViewData["Title"] = "V80";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h1>Pajero V80</h1>
	<div>
		<p>
			<a href="#engine">Motor</a>
		</p>
		<p>
			<a href="#actuation">Antrieb</a>
		</p>
		<p>
			<a href="#suspension">Aufhängung</a>
		</p>
		<p>
			<a href="#body">Karosserie</a>
		</p>
		<p>
			<a href="#equipment">Ausstattung</a>
		</p>
	</div>
	<h2>
		Allgemeine Informationen
	</h2>
	<figure class="figure">
		<img src="~/images/models/V80/Compare.jpg" alt="Vieles wurde aus dem Rennsport übernommen" class="img-thumbnail" />
		<figcaption>Vieles wurde aus dem Rennsport übernommen</figcaption>
	</figure>
	<p>
		Endlich war es soweit, endlich lüftete Mitsubishi das lang gehütete Geheimnis und
		zog auf dem Pariser-Automobilsalon die Tücher von seinen zwei Neuheiten, auf die
		sowhol die Fachpresse als auch das Publikum äußerst gespannt war: In den Messehallen
		von Porte de Versailles feierten Ende September der neue Pajero und eine Konzeptsudie
		der zweiten Outlandergeneration ihren ersten öffentlichen Auftritt. Beie Modelle
		werden im Frühjahr 2007 zu den Händlern rollen. Und das Warten hat sich gelohnt.
	</p>
	<p>
		Seit 25 Jahren gilt der Mitsubishi Pajero als Ikone der luxoriösen Geländewagen,
		als zuverlässiger Weggefährte, aber auch als nützliches Arbeitstier. Dies zeigt
		nicht zuletzt das Kundeprofil der rund 2,5 Millionen Pajero-Fahrer weltweit. Jeder
		fünfte von ihnen bewegt seinen Pajero täglich auf unbefestigten Wegen, sei es beispielsweise
		auf Großbaustellen oder in der Forstwirtschaft. An vier von fünf Pajero, ergal,
		ob drei- oder fünftürig, sitzt eine Anhängerkupplung. Boots- und Pferdebesitzer
		schätzen den Komfort und die hohe Zugkraft des kernigen Mitsubishi.
	</p>
	<p>
		Designer und Entwickler setzten sich für die neue Generation des Pajero ganz klar
		ein Ziel: Evolution statt Revolution. Verbessern, wo es etwas zu verbessern gab.
		Alles Gute und Bewährte aber sollte erhalten bleiben. Dies spiegelt auch eindeutig
		die Wünsche des Kunden wieder. Sie möchten den Pajero als Pajero, als echten Allrader,
		der sich im schweren Gelände ebenso wohl fühlt wie auf asphaltierter Straße oder
		auf den Boulevards der Großstädte und in diesem Umfeld in Sachen Ausstattung, Sicherheit
		und Fahrkomfort Maßstäbe seiner Klasse setzt.
	</p>
	<h2 id="actuation">
		Antrieb des V80
	</h2>
	<figure class="figure">
		<img src="~/images/models/V80/Actuation.jpg" alt="Antrieb für alle lebenslagen" class="img-thumbnail" />
	</figure>
	<p>
		Beim Antrieb des Pajero blieb Mitsubishi beim Bewährten, dem allradsystem "Super-Select-4
		II". Frei übersetzt: Der Wagen bietet für jede Geländebedingung die richtige Antriebsart.
		Für den Alltagsbetrieb empfiehlt sich der permantente variable Allradantrieb. Im
		Pajero nennt dich das 4H (während der Fahrt /bis 100 km/h) kann der Fahrer auf Hinterradbetrieb
		/3H) umschalten. Die Vorderachse läuft dann frei mit). Falls eine Achse durchdreht,
		sperrt die Viscukupplung das Zentraldiffernzial. Auf besonders rutschigem Untergrund
		hilft 4HLc weiter. Das Zentraldiffernzial verteilt 50:50 die Kraft auf Vorder- und
		Hinterachse. Im schweren Terrain wählt man die Stufe 4LLc, hier ist dann die extrem
		kurze Geländerübersetzung eingeschaltet. Neu ist, dass sich bei diese Stufe 4LLc,
		das Differenzial an der Hinterachse per Knopfdruck elektronisch sperren lässt. Mit
		dem Super-Select 4 II verfügt der Pajero über eine Reihe weiterer Fahr- und Sicherheitsfeatures.
		Dazu zählen die Antriebsschlupfreglung MATC, das elektronische Stabilitätsprogramm
		MASC, das Antiblockierbremssystem ABS, und die elektronische Bremskraftverteilung
		EBD. Weiterhin beinhaltet das umfangreiche Sicherheitspaket des Pajeros sowohl Front-
		als auch Seitenairbag vonr und für die erste und zeite Sitzreihe Kopfairbags.
	</p>
	<h2 id="engine">
		Motor des V80
	</h2>
	<p>
		Neu ist der Vierzylinder-Dieselmotor. Die bislang verwendete Verteiler-Einspritzpumpe
		wird nun durch modernste Common-Rail-Hochdrucktechnik mit Mehrfacheinspritzung ersetzt.
		Damit werden nicht nur die strengeren Abgaslimits Euro 4 erreicht, sinder der Motor
		läuft auch 15 Prozent leiser, weicher und vibrationsärmer. Es stiegen, je nach Art
		des Getriebes, Leistung und Drehmoment. Der 3.2 DI-D hat in Kombination mit dem
		manuellen Fünfgang-Schaltgetriebe 160 PS und 281 Newtonmeter, in Verbindung mit
		der Fünfgang-automatik sind es 170 PS und 373 Nm. Ein Dieselrußpartikelfilter (DPF)
		ist serienmäßig.
	</p>
	<p>
		Souveräne Fahrdynamik verspricht auch der von Grund auf neu konstruierte
		Sechszylinder-Benziner. Es handelt sich dabei um einen V6 mit 3,8-Liter-Hubraum,
		und variabler Ventilsteuerung (MIVEC). Seine Leistung wird 250 PS betragen.
	</p>
	<h2 id="body">
		Karosserie des V80
	</h2>
	<figure class="figure">
		<img src="~/images/models/V80/V80Long.jpg" alt="Langer Radstand" class="img-thumbnail" />
		<figcaption>Langer Radstand</figcaption>
	</figure>
	<p>
		Schon optisch betont der neue Pajero seine traditionelle und markante Linie, wie
		zum Beispiel mit der steilen, fast planen Windschutzscheibe oder durch seinen hohen
		Aufbau. Obwohl die Entwicklungsmaxime bei Mitsubishi für den neuen Pajero "Evolutions
		statt Revolutions" hieß, sind über 70 Prozent der Teile der japanischen Off-Road-Legende
		Neuentwicklungen. So bekamen unter anderem Front, Heck und Kotflügel ein neues Design,
		im Bereich der Karosserie sind nur das Dach und die Türen vom Vorgänger übernommen.
		Ein Blick in das "Gesicht" des Pajero vermittelt unmissverständlich Dynamik und
		zeigt eindrucksvoll: Hier könnte auch die Rallyversion MPR13 vorfahren. Sehr ähnlich
		sind der Verlauf der Chromstreben im Grill, die Form der Klarglas-Scheinwerfer und
		das markante Mitsubishi-Logo in der Mitte. Jeweils unter den Scheinwerfern sitzne
		im Stoßfänger leuchtstarke, runde Nebellampen. Sie geben dem Pajero einen souveränen
		wie unverwechselbaren Auftritt. Neu sind die in die SEitenspiegel untegrierten Blinker
		und due Rückleuchten unter Klarglas.
	</p>
	<figure class="figure">
		<img src="~/images/models/V80/V80Front.jpg" alt="Frontansicht" class="img-thumbnail" />
	</figure>
	<p>
		Entspanntes Fahren und gute Übersicht verspricht die angenehme und hohe Sitzposition
		im Pajero. Die ausgeprägten Flanken sowohl in den Lehnen als auch im Sitzkissen
		bieten festen Seitenhalt. Auch in der zweiten Reihe bietet der Mitsubishi Geländewagen
		Salonatmosphäre. Die Fahrgäste genießen ausgesprochen großzügige Platzverhältnisse.
	</p>
	<h2 id="equipment">
		Ausstattung des V80
	</h2>
	<figure class="figure">
		<img src="~/images/models/V80/Inside.jpg" alt="Das Cockpit" class="img-thumbnail" />
		<figcaption>Das Cockpit</figcaption>
	</figure>
	<p>
		Dem eindringlichen Kundenwunsch nach einer Hecktür statt einer Heckklappe kam Mitsubishi
		auch beim neuen pajero nach. Ebenso wie der Forderung, das Reserverad müsse weiterhin
		an der Hecktür montiert sein, das beim neuen Pajero jetzt mittig plaziert und durch
		eine Hardcover-Abdeckung geschützt ist.
	</p>
	<p>
		Tradition verpflichtet eben. Un schafft gleichzeitg Platz im Gepackraum. Die Variablität
		ist außergewüöhnlich. Getrennt lassen sich die Rücksitze in der zweiten Reihe nach
		vorne umlegen, schaffen so einen rieseigen Laderaum mit einer tischebenen Fläche
		ohne störende Stufe. An stabilen Stahlösen kann die Ladung sicher verzurrt werden.
		Eine pfiffige Idee verbirgt sich hinten im Laderaum unter dem Boden. Im Handumdrehen
		lässt sich eine dritte Sitzreihe hervorzaubernm die dem Pajero zum Siebensitzer
		macht.
	</p>
	<p>
		Luxus und großzügigen Raum umgeben die personen der ersten Reihe. Das funktional
		gestaltete Armaturenbrett ist frei von verspielten Elementen. Alle Schalter und
		Hebel sind dort angebracht, wo der Fahrer sie intuitiv auch vermuten würde. Klar
		gezeichnete Rundinstrumente bilden das Cockpit hinter dem hlhenverstellbarem Vierspeichen-Mulit-Funktions-Lenkrad.
		In der Mitte des Armaturenträgers steckt der 7" große Bildschirm, auf dem unterm
		anderem das Audio-, das Navigationsprogramm oder das Bild der Rückfahrkamera dargestellt
		wird. Darüber befindet sich ein weiteres Display, das Informationen über Temperatur,
		Luftdruck und Himmelsrichtung anzeigt.
	</p>
	<p>
		Viel Liebe zum Detail bewiesen die Mitsubishi Designer beim Thema Haptik. Die verarbeiteten
		Materialen sind hochwertig. Für Bereiche wie Mittelkonsole und Dekoreinlagen in
		Türen sowie Instrumententräger stehenb Oberflächen in Aluminium-, Holz-, und Metall-Look
		oder anthrazitfarben lackiert zur Verfügung. Sehr angenehm fassen sich beispielsweise
		die gerasterten Metall-Drehschalter für Temperatur und Lüftung der serienmäßigen
		Klimaautomatik an. Auch an genügend Ablagen wurde gedacht. Unter der Mittelarmlehne
		steckt ein zweistöckiges Fach. Davor, zentral zwischen den Sitzen, befinden sich
		griffgünstig zwei Cupholder.
	</p>
	<p>
		Esrtmalig kooperierte Mitsubishi beim Infotainment mit der renommierten US-Firma
		Rockford Fosgate, die in den Pajero ein Audio-System installiert, das mit europäischen
		Edelmarken vergleichbar ist. Es nennt sich Rockford Acoustic Design und besteht
		aus einer 860-Watt-Analge mit insgesamt zwölf Lautsprechern, bedienbar vom Lenkrad.
		Wer das Navigationssystem bestellt, erhält eine 30 GB Festplatte, auf der jede Straßenkreuzung
		Westeuropas gespeichert ist und die auch als Musikdatenbank benutzt werden kann.
		In Zusammenhang mit dem Navi wird auch eine Rückfahrkamera installiert.
	</p>
</div>

