@page
@model MitsubishiPajero.Pages.Modelle.Evolution.IndexModel
@{
	ViewData["Title"] = "Evolution";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h1>Der Evolution</h1>
	<h2>
		Allgemeine Informationen zum Evolution
	</h2>
	<figure class="figure">
		<img src="~/images/models/Evolution/evo_01.jpg" class="img-thumbnail" />
	</figure>
	<p>
		Auf
		der internationalen Automobilausstellung in Frankfurt 2001 war er erstmalig zu bewundern,
		der Pajero Evolution. Ein Wagen im Panzerformat 1980 mm breit 4420 mm lang. und
		1724 mm hoch, das Ganze bei einem Kampfgewicht von 1950 kg. Um dieses Ungetüm von
		der Stelle zu bewegen kommt Hi-Tech in Vollendung zum Zuge. Ein 3,5 Liter V6 Biturbo
		mit 24 Ventilen mobilisiert 450 PS und katapultiert den Evolution in 5,4 Sekunden
		von 0 auf 100 km/h. Von dieser Marke aus zieht es die Tachonadel weiter bis auf
		238 km/h Spitzengeschwindigkeit. Dem Motor nachgeschaltet ist ein, aus dem Rallyesport
		hervorgegangenes, Sech-Gang-Sequentialgetriebe. Der Evolution verfügt über permanenten
		Allradantrieb und eine ausgeklügelte Differentialtechnik. Serienmäßig werden Reifen
		der Dimension 285/45R22 verbaut, die auf 22” Leichtmetallfelgen aufgezogen werden.
		Der Evolution ist ein reinrassiger Zweisitzer und kommt mit zahlreichen Adventure
		Accessoirs. Ein GPS sowie umfangreiches Boardwerkzeug komplettieren den Saharacruiser.
		Leider ist dieser Bolide bisher nur bei der Dakar zu bewundern. Wann und ob der
		Evolution für den Normalsterblichen zugänglich wird, steht noch offen.
	</p>
</div>