@page
@model MitsubishiPajero.Pages.Modelle.V60.IndexModel
@{
	ViewData["Title"] = "V60";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h1>
		Der V60
	</h1>
	<figure class="figure">
		<img src="~/images/models/V60/Border.jpg" alt="" class="img-thumbnail" />
	</figure>
	<div>
		<p>
			<a href="#engine">Motor</a>
		</p>
		<p>
			<a href="#actuation">Antrieb</a>
		</p>
		<p>
			<a href="#suspension">Aufhängung</a>
		</p>
		<p>
			<a href="#body">Karosserie</a>
		</p>
		<p>
			<a href="#equipment">Ausstattung</a>
		</p>
		<p>
			<a href="#tech">Technische Daten</a>
		</p>
		<p>
			<a href="#used	">Gebrauchtwagen-Tipps</a>
		</p>
	</div>
	<h2>
		Allgemeine Informationen
	</h2>
	<p>
		Im Jahr 2000 ging der Pajero in die dritte Runde. Wer den Neuen sah musste allerdings
		genau hinschauen um den alten Kasten aus den 80igern wiederzuerkennen. Rund und
		modern kommt er daher, so gar nicht wie die alten Geländewagen der Firma mit den
		drei Diamanten. Aber bei genauer Betrachtung ist es ein Pajero und er ist die konsequente
		Weiterentwicklung seiner Vorgänger. Der Hang zum breiteren und längerem Geländewagen
		den der V20 erstmals erkennen ließ führt ihn ihm zur Perfektion. Eine Gesamtbreite
		von 1875 mm und eine Spurweite von 1560 mm sprechen eine deutliche Sprache. Die
		neuen Motoren überzeugen durch Leistung wie sie es auch schon 1983 taten, jedoch
		nicht auf Kosten der Drehzahl. Während der L040 und der V20 mit dem Gasfuß bei Laune
		gehalten werden wollten um sich aus dem Schlamm(massel) zu schleppen bietet der
		neue Motor wahnsinnige Kraft bei kleinen Drehzahlen. Wenn man den Pajero von Kindesbeinen
		an kennt mag man erschreckt wirken und sich wundern was denn noch vom ersten Modell
		geblieben ist. Auf den zweiten Blick sieht man dann die stilistisch gleich gebliebenen
		Scheinwerfer, die Motorhaube die auf zwei Ebenen aufgeteilt ist sowie den markanten
		Kühlergrill, der eigentlich nur geringfügig überarbeitet wurde. Sicherlich ist alles
		runder geworden, aber das Herz des Pajeros bleibt zu erkennen. Er ist eben mit den
		Jahren gegangen und langsam vom kantigen Prototypen zum chiquen Szenegänger avanciert.
	</p>
	<h2 id="engine">
		Motor des V60
	</h2>
	<figure href="javascript:ShowPicture('Engine.jpg')">
		<img src="~/images/models/V60/Engine.jpg" alt="Die Motoren" class="img-thumbnail" />
		<figcaption>Die Motoren</figcaption>
	</figure>
	<p>
		Der V60 debütiert mit zwei vollkommen neuen und dem Vorgänger äußerst unähnlichen
		Motoren. Zu einen liefert Mitsubishi den Neuen mit einem 3,2 Liter Diesel Direkteinspritzer
		aus. Der Motor schöpft aus vier Zylindern 165 PS / 121 kW bei 3800 U/min und 373
		Nm Drehmoment bei 2000 U/min. Mit diesen Werten stellt er den bisher leistungsstärksten
		Motor dar und gleichzeitig eine enorme Verbesserung in Hinsicht auf die Kraftentfaltung.
		Waren alle seine Vorgänger hochtourige Vertreter so zieht er sich mit bäerenstarken
		373 Nm aus dem tiefsten Drehzahlkeller. Trotz der extrem hohen Leistung verbraucht
		der neue Pajeromotor gerade einmal 9,2 Liter auf 100 km. Bei einem Wettbewerbe eines
		Schmiermittelfabrikanten schaffte man es sogar den Pajero mit nur 5,4 Liter auf
		100 km zu fahren. In beiden Motoren werkeln imernoch die aus dem L040 bekannten
		Ausgleichwellen um Motorvibrationen zu eleminieren. Die Einspritzung des Kraftstoffs
		übernimmt eine Radialkolben-Verteilerpumpe die mit einem Druck von 1200 bar arbeitet.
	</p>
	<p>
		Der zweite Motor ist ein Benziner und mit der allerneusten Technik ausgerüstet.
		So ist er zum Beispiel der erste Benzindirekteinspritzer der jemals in einem Geländewagen
		verbaut wurde. Er ist mit 6 Zylinder bestückt die im Format 93,0 m x 85,8 mm daherkommen.
		Bei 5000 U/min leistet der Motor 202 PS / 149 kW und zieht mit 328 Nm bei 4000 U/min
		davon. Der Sechszylinder ist aufgrund seiner Leistungsdaten wesendlich hungriger
		als sein Dieselbruder. 12,8 Liter flößt er sich im Mittel ein. Man sollte lieber
		nicht darüber nachdenken was er verlangen würde, wenn Mitsubishi ihm nicht eine
		sprittsparende Direkteinspritzung verpasst hätte
	</p>
	<h2 id="actuation">
		Antrieb des V60
	</h2>
	<figure class="figure">
		<img src="~/images/models/V60/Gearbox.jpg" alt="Der Unterbau" class="img-thumbnail" />
		<figcaption>Der Unterbau</figcaption>
	</figure>
	<p>
		Auch hinter dem Motor brachte der Modellwechsel seine Neuerungen, aber auch alt
		bekanntes mit sich. Das Getriebe war standartmäßig ein 5-Gang-Schaltgetriebe, alternativ
		konnte man einen Fünfstufen-Schaltautomat mit FUZZY-Logik ordern, selbstverständlich
		nur gegen Aufpreis. Das Super-Select-Schaltgetrieb SS4-II stellt, wie schon beim
		V20, eine Fülle an Betriebsarten zur Verfügung. Angefangen beim Hecktrieb, über
		permanenten Allrad und Allrad mit geperrtem Mitteldifferential bis hin zu Allrad
		mit Untersetzung mit gesperrtem Mitteldifferential stellt der Pajero für jede Gelegenheit
		einen geigneten Betriebsmodus zur Verfügung. Zwischen vorderem und hinterem Antriebsstrang
		schaltet das Zentraldifferential mit Planetenradsatz im Normalfall 33% der Kraft
		an die Vorderräder und 67% an die Hinterräder. Eine vorgeschaltete Viskosebremse
		sorgt für stufenlose Kraftverteilung bei rutschigem Untergrund zusätzlich kann man
		das Zentraldifferential ganz sperren und so einen starren Durchtrieb zwischen Vorder-
		und Hinterachse herstellen. An der Hinterachse stellen gleichzwei Differentialsperren
		die Traktion sicher: Das Schraubenraddifferential stellt selbstständig eine Sperrwirkung
		bis zu 37% her, zusätzlich kann man das Differential auf Knopfdruck zu 100% sperren.
	</p>
	<p>
		Der Schaltautomat den Mitsubishi auslieferte war eine Hochleistungsgetrieb modernster
		Bauart. Das INVECS-II getauft System erkennt über eine FUZZY-Logik-Steerung den
		Fahrstil des Fahrers und psst diesem die Schaltvorgänge automatisch an.In der Praxis
		macht sich das bemerkbar wenn man extreme Fahrweisen gegenüber stellt. Fährt man
		sprittsparend, dann schaltet das Getriebe früh hoch und rückt ab 80 km/h die verbrauchssparende
		Wandlerüberbrückungskupplung ein. Wer gerne “rast” der erlebt ein häufig zurückschaltende
		und konsequent hochdrehende Schaltelektronik. Zusätzlich kann an den Pajero mit
		Automatikgetriebe auch mit einer Art Halbautomatik betreiben. Dadurch wird das Kuppeln
		überflüssig und man muß nur die Gänge via Schalthebel einlegen.
	</p>
	<h2 id="body">
		Karosserie des V60
	</h2>
	<figure class="figure">
		<img src="~/images/models/V60/V60Short.jpg" alt="Kurzer Radstand" class="img-thumbnail" />
		<figcaption>Kurzer Radstand</figcaption>
	</figure>
	<p>
		Zu Beginn gab es den V20 mit 5 verschiedenen Karosserien, die wie gewohnt auf einem
		robusten Leiterrahmen verschraubt wurden. Wie bei der L040-Serie gab es den V20
		als kurzen Zweitürer und als langen Viertürer. Den Kurzen mit Stahldach oder als
		Cabrio und den Langen nur mit Stahldach. Dem allgemeinen Trend folgend, wurden die
		Blechhäute wuchtiger designed und so fiel der kurze Pajero mit einer Gesamtlänge
		von 4145 mm, 150 m länger aus als sein Vorgänger. Auch in der Breite legte der neue
		Mitsubishi um 105 mm auf 1785 mm zu, gleichzeitig wurde er tiefer und “kauerte mit
		einer Höhe von 1815 mm, 35 mm tiefer auf der Straße als zuvor. Bei den langen V20
		sah es nicht anders aus. Sie fielen mit einer Abmessung von 4725 mm Länge und 1758
		mm Breite ebenfalls um Einiges größer aus.
	</p>
	<figure class="figure">
		<img src="~/images/models/V60/V60Long.jpg" alt="Langer Radstand" class="img-thumbnail" />
		<figcaption>Langer Radstand</figcaption>
	</figure>
	<p>
		1998 zogen neue
		Gesichter in die Mitsubishiautohäuser ein. Dem Pajerowar ein Facelifting verschrieben
		worden und so unterzog man ihn dann einer Frischzellenkur. Die Radläufe wurden eckiger
		und die Seitenblinker überarbeitet. Die alten Sheinwefer wurden nun durch Vertreter
		in Klarglasoptik ersetzt und in die Frontstoßstange zogen Nebelscheinwerfer ein.
		Die Stoßstange selbst bekam ein Lochleiste in der Mitte. Zudem wurden die Übergänge
		von den Radläufen zu den Schwellern überarbeitet, so dass die Schweller jetzt tiefer
		zu liegen schienen was dem Pajero noch ein wenig mehr Sportlichkeit verlieh.
	</p>
	<h2 id="suspension">
		Aufhängung des V60
	</h2>
	<figure class="figure">
		<img src="~/images/models/V60/Brake.jpg" alt="Bremse" class="img-thumbnail" />
	</figure>
	<figure class="figure">
		<img src="~/images/models/V60/Suspension1.jpg" alt="Federung" class="img-thumbnail" />
	</figure>
	<figure class="figure">
		<img src="~/images/models/V60/Suspension2.jpg" alt="Hinterachse" class="img-thumbnail" />
	</figure>
	<p>
		Prinzipiell änderte sich beim Generationssprung vom L040 zum V20 nichts am Fahrwerk.
		An der Vorderachse verbaute man nach wie vor Dreieckslenker mit Drehstabfedern und
		das Heck beherbergte die noch taufrische Starrachse des L040 nach Baujahr 1989,
		die an Schraubenfedern hing. Bei der Sicherheit hatte sich zum Modelljahr 1991 allerdings
		einiges getan. Rundrum wurden dem V20 Scheibenbremsen spendiert, was die aktive
		Sicherheit um ein Vielfaches verbesserte. Optional konnte man ein ABS-Bremssystem
		ordern das auf den Namen “Multi-Mode” hörte und eine Bremsung mit ABS selbst dann
		noch erlaubte, wenn der Allrad eingelegt und das hintere Differential gesperrt war.
		in den teureren Varianten GLX und GLS kam noch ein weiteres Schmankerl hinzu, nämlich
		in drei Stufen härtenverstellbare Stoßdämpfer, so dass man den Pajero ganz nach
		seinen Wünschen einstellen konnte.
	</p>
	<h2 id="equipment">
		Ausstattung des V60
	</h2>
	<figure class="figure">
		<img src="~/images/models/V60/Seat.jpg" alt="Das Cockpit" class="img-thumbnail" />
	</figure>
	<figure class="figure">
		<img src="~/images/models/V60/Cockpit.jpg" alt="Das Cockpit" class="img-thumbnail" />
	</figure>
	<p>
		Den Pajero V60 gibt es in drei verschiedenen Ausstattungvarianten die von der Standart
		bis zur Elegance Linie reichen.
	</p>
	<p>
		Der Standart Pajero wartet mit Seitenairbags sowie Fahrer- und Beifahrer Airbag.
		Ferner bietet er Multi-mode-ABS mit EBD, höhenverstellbaren Kopfstützen und Dreipunktgurte
		auf jedem Sitzplatzauf. Servolenkung mit verstellbarer Lenksäule, getönte Wärmeschutzverglasung,
		beleuchteter Gepäckraum sowie Befestigungshaken und Teppich gehören mit zum Paket.
	</p>
	<p>
		mit Funkfernbedienung, Klimaautomatik, elektrische Fensterheber mit einklemmschutz,
		RDS-Autoradio mit CD-Spieler, Motorantenne und sechs Lautsprecher, Multi-Info-Display
		sowie Metallic Lackierung.
	</p>
	<figure class="figure">
		<img alt="Das Cockpit" src="~/images/models/V60/Tools.jpg" class="img-thumbnail" />
	</figure>
	<figure class="figure">
		<img alt="Das Cockpit" src="~/images/models/V60/Back.jpg" class="img-thumbnail" />
	</figure>
	<p>
		In der höchsten Ausbaustude, der Elegance Version kommen noch accesoirs wie Leichmetallfelgen,
		Breitreifen, holt-leder-Lenkrad, Nebelscheinwerfer, abgedunkelte Seiten und Heckscheiben,
		ein höhenverstellbarer Fahrersitz sowie in Wagenfarbe lackierte Türgriffe, Kühlergrill,
		Außenspiegel und Stoßfänger.
	</p>
	<h2 id="tech">
		Technsiche Daten des V60
	</h2>
	<table>
		<tr>
			<td class="titlecolumn">
				Wagentyp
			</td>
			<td class="titlerow">
				Pajero 3türig Diesel
			</td>
			<td class="titlerow">
				Pajero 3türig Benzin
			</td>
			<td class="titlerow">
				Pajero 5türig Diesel
			</td>
			<td class="titlerow">
				Pajero 5türig Benzin
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Motor/Kraft&uuml;bertragung
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Zylinderzahl
			</td>
			<td>
				4
			</td>
			<td>
				6
			</td>
			<td>
				4
			</td>
			<td>
				6
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Hubraum (cm³)
			</td>
			<td>
				3200
			</td>
			<td>
				3497
			</td>
			<td>
				3200
			</td>
			<td>
				3497
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Bohrung x Hub (mm)
			</td>
			<td>
				98,5 x 105,0
			</td>
			<td>
				93,0 x 85,8
			</td>
			<td>
				98,5 x 105,0
			</td>
			<td>
				93,0 x 85,8
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Verdichtung
			</td>
			<td>
				17,0:1
			</td>
			<td>
				10,4:1
			</td>
			<td>
				17,0:1
			</td>
			<td>
				10,4:1
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Leistung kW (PS) bei (U/min)
			</td>
			<td>
				121 (165)/3800
			</td>
			<td>
				149 (202)/5000
			</td>
			<td>
				121 (165)/3800
			</td>
			<td>
				149 (202)/5000
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Drehmoment Nm bei (U/min)
			</td>
			<td>
				373/2000
			</td>
			<td>
				318/4000
			</td>
			<td>
				373/2000
			</td>
			<td>
				318/4000
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Einspritzsystem
			</td>
			<td>
				Diesel-direkteinspritzer
			</td>
			<td>
				Benzin-Direkteinspritzung
			</td>
			<td>
				Diesel-direkteinspritzer
			</td>
			<td>
				Benzin-Direkteinspritzung
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Generator (V/A)
			</td>
			<td>
				14/125
			</td>
			<td>
				12/125
			</td>
			<td>
				14/125
			</td>
			<td>
				12/125
			</td>
		</tr>
		<tr>
			<td style="height: 18px" class="titlecolumn">
				Batterie (V/Ah)
			</td>
			<td style="height: 18px">
				12/80
			</td>
			<td style="height: 18px">
				12/65
			</td>
			<td style="height: 18px">
				12/80
			</td>
			<td style="height: 18px">
				12/65
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Getriebe
			</td>
			<td>
				5-Gang-Schaltgetriebe
			</td>
			<td>
				5-Gang-Schaltgetriebe
			</td>
			<td>
				5-Gang-Schaltgetriebe
			</td>
			<td>
				5-Gang-Schaltgetriebe
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Freilaufkupplung in der Vorderachse
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Allradantrieb Super Select 4WD-II, Vorderachsantrieb mechanisch zuschaltbar
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Hinterachsdifferential zu 100% sperrbar
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Fahrwerk/Lenkung
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Vorderradaufh&auml;ngung
			</td>
			<td>
				Einzelradaufh&auml;ngu ng an Doppel-Dreieckslenkern, Schraubenfedern, Teleskopsto&szlig;d&auml;mp
				fer, Querstabilisator
			</td>
			<td>
				Einzelradaufh&auml;ngu ng an Doppel-Dreieckslenkern, Schraubenfedern, Teleskopsto&szlig;d&auml;mp
				fer, Querstabilisator
			</td>
			<td>
				Einzelradaufh&auml;ngu ng an Doppel-Dreieckslenkern, Schraubenfedern, Teleskopsto&szlig;d&auml;mp
				fer, Querstabilisator
			</td>
			<td>
				Einzelradaufh&auml;ngu ng an Doppel-Dreieckslenkern, Schraubenfedern, Teleskopsto&szlig;d&auml;mp
				fer, Querstabilisator
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Hinterradaufh&auml;ngung
			</td>
			<td>
				Mehrlenker-Einzelradaufh&auml;ngu ng mit Schraubenfedern, Teleskopsto&szlig;d&auml;mp
				fer, Querstabilisator
			</td>
			<td>
				Mehrlenker-Einzelradaufh&auml;ngu ng mit Schraubenfedern, Teleskopsto&szlig;d&auml;mp
				fer, Querstabilisator
			</td>
			<td>
				Mehrlenker-Einzelradaufh&auml;ngu ng mit Schraubenfedern, Teleskopsto&szlig;d&auml;mp
				fer, Querstabilisator
			</td>
			<td>
				Mehrlenker-Einzelradaufh&auml;ngu ng mit Schraubenfedern, Teleskopsto&szlig;d&auml;mp
				fer, Querstabilisator
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Felgengr&ouml;&szlig;e
			</td>
			<td>
				7 JJ x 16
			</td>
			<td>
				7 JJ x 16
			</td>
			<td>
				7 JJ x 16
			</td>
			<td>
				7 JJ x 16
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Reifengr&ouml;&szlig;e
			</td>
			<td>
				265/70 R 16
			</td>
			<td>
				265/70 R 16
			</td>
			<td>
				265/70 R 16
			</td>
			<td>
				265/70 R 16
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Reseverad, vollwertig
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Servounterst&uuml;tzte Zahnstangenlenkung
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Bremsanlage
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Anti-Blockier-System (ABS)
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Zweikreis-Bremssystem
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Bremskraftverst&auml;rker und Bremskraftregelventil
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Scheibenbremsen vorne und hinten, innenbel&uuml;ftet
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
			<td>
				ja
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Abmessungen
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Gesamtl&auml;nge/Gesamtb reit (mm)
			</td>
			<td>
				4280/1875
			</td>
			<td>
				4280/1875
			</td>
			<td>
				4795
			</td>
			<td>
				4795
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Gesamth&ouml;he (mm)
			</td>
			<td>
				1845
			</td>
			<td>
				1845
			</td>
			<td>
				1855
			</td>
			<td>
				1855
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Radstand (mm)
			</td>
			<td>
				2545
			</td>
			<td>
				2545
			</td>
			<td>
				2780
			</td>
			<td>
				2780
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Spurweite vorne/hinten (mm)
			</td>
			<td>
				1560/1560
			</td>
			<td>
				1560/1560
			</td>
			<td>
				1560/1560
			</td>
			<td>
				1560/1560
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Wendekreisdurchmess er (m)
			</td>
			<td>
				11,2
			</td>
			<td>
				11,2
			</td>
			<td>
				12
			</td>
			<td>
				12
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Bodenfreiheit mm
			</td>
			<td>
				215
			</td>
			<td>
				230
			</td>
			<td>
				215
			</td>
			<td>
				230
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Wattiefe (mm)
			</td>
			<td>
				600
			</td>
			<td>
				600
			</td>
			<td>
				600
			</td>
			<td>
				600
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				B&ouml;schungswinkel vorne/hinten (°)
			</td>
			<td>
				42,0/33,5
			</td>
			<td>
				42,0/33,5
			</td>
			<td>
				42,0/24,0
			</td>
			<td>
				42,0/24,0
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Rampenwinkel (°)
			</td>
			<td>
				26,5
			</td>
			<td>
				26,5
			</td>
			<td>
				24,5
			</td>
			<td>
				24,5
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Steigf&auml;higkeit (%)
			</td>
			<td>
				70
			</td>
			<td>
				70
			</td>
			<td>
				70
			</td>
			<td>
				70
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Laderaumvolumen max. l
			</td>
			<td>
				1293
			</td>
			<td>
				1293
			</td>
			<td>
				1700
			</td>
			<td>
				1700
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Gewichte
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Leergeweicht (kg)
			</td>
			<td>
				1055
			</td>
			<td>
				1990
			</td>
			<td>
				2195
			</td>
			<td>
				2135
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Zul&auml;ssiges Gesamtgewicht (kg)
			</td>
			<td>
				2510
			</td>
			<td>
				2510
			</td>
			<td>
				2810
			</td>
			<td>
				2760
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Zuladung (kg)
			</td>
			<td>
				455
			</td>
			<td>
				520
			</td>
			<td>
				615
			</td>
			<td>
				625
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Anh&auml;ngelast (kg)
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				750
			</td>
			<td>
				750
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				ungebremst
			</td>
			<td>
				750
			</td>
			<td>
				750
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				gebremst
			</td>
			<td>
				2800
			</td>
			<td>
				2800
			</td>
			<td>
				3300
			</td>
			<td>
				3300
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Zul&auml;ssige vertikale St&uuml;tzlast (kg)
			</td>
			<td>
				115
			</td>
			<td>
				115
			</td>
			<td>
				135
			</td>
			<td>
				135
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Maximale Dachlast kg
			</td>
			<td>
				100
			</td>
			<td>
				100
			</td>
			<td>
				100
			</td>
			<td>
				100
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Fahrleistungen
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				H&ouml;chstgeschwindigkeit ca. km/h
			</td>
			<td>
				170
			</td>
			<td>
				190
			</td>
			<td>
				170
			</td>
			<td>
				190
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Beschleunigung 0-100 (s)
			</td>
			<td>
				11,5
			</td>
			<td>
				10
			</td>
			<td>
				12
			</td>
			<td>
				10,7
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Kraftstoffverbrauch
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
			<td class="titlerow">
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Kraftstoffart
			</td>
			<td>
				Diesel
			</td>
			<td>
				Benzin
			</td>
			<td>
				Diesel
			</td>
			<td>
				Benzin
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				st&auml;dtisch
			</td>
			<td>
				12
			</td>
			<td>
				16,9
			</td>
			<td>
				12,4
			</td>
			<td>
				17,1
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				au&szlig;erst&auml;dtisch
			</td>
			<td>
				7,8
			</td>
			<td>
				10,5
			</td>
			<td>
				8,1
			</td>
			<td>
				10,7
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				insgesamt
			</td>
			<td>
				9,3
			</td>
			<td>
				12,8
			</td>
			<td>
				9,7
			</td>
			<td>
				13
			</td>
		</tr>
		<tr>
			<td class="titlecolumn">
				Tankinhalt
			</td>
			<td>
				71
			</td>
			<td>
				71
			</td>
			<td>
				90
			</td>
			<td>
				90
			</td>
		</tr>
	</table>
	<h2 id="used">
		Gebrauchtwagentipps L040
	</h2>
	<figure>
		<img src="~/images/models/V60/Used/01.jpg" class="img-thumbnail"/>
		<figcaption>
			Ein Schiff wird kommen - aber der Lenkung mangelt es an Präzision.
		</figcaption>
	</figure>
	<figure>
		<img src="~/images/models/V60/Used/02.jpg" class="img-thumbnail"/>
		<figcaption>
			Maschinenbau: Der 3,2-Liter-Turbodiesel ist grundsolide, schüttelt den Wagen aber
			beim Start kräftig durch.
		</figcaption>
	</figure>
	<figure>
		<img src="~/images/models/V60/Used/03.jpg" class="img-thumbnail"/>
		<figcaption>
			Vorsicht ist an Schweiß- und Schnittkanten geboten.
		</figcaption>
	</figure>
	<figure>
		<img src="~/images/models/V60/Used/04.jpg" class="img-thumbnail"/>
		<figcaption>
			Schalten und walten: Die Cockpit-Bedienung ist durchweg simpel, lediglich für den
			Umgang mit dem Allradantrieb empfiehlt sich ein Blick in die Bedienungsanleitung.
		</figcaption>
	</figure>
	<figure>
		<img src="~/images/models/V60/Used/05.jpg" class="img-thumbnail"/>
		<figcaption>
			Familienfreund: als Fünftürer mit bis zu sieben Sitzen.
		</figcaption>
	</figure>
	<figure>
		<img src="~/images/models/V60/Used/06.jpg" class="img-thumbnail"/>
		<figcaption>
			Spurstange und Stabilisatorgestänge neigen zu erhöhtem Spiel, was Geräusche verursacht
			und den TÜV-Prüfer beunruhigt.
		</figcaption>
	</figure>
	<figure>
		<img src="~/images/models/V60/Used/07.jpg" class="img-thumbnail"/>
		<figcaption>
			Die Elektrik ist unzureichend vor Wasser geschützt und entsprechend störanfällig.
		</figcaption>
	</figure>
	<figure>
		<img src="~/images/models/V60/Used/08.jpg" class="img-thumbnail" />
		<figcaption>
			Die Vakuum-Betätigung für Getriebe- und Differenzialsperren sind unzuverlässig.
		</figcaption>
	</figure>
</div>

