@page
@model MitsubishiPajero.Pages.Modelle.V20.IndexModel
@{
    ViewData["Title"] = "V20";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>
			V20
		</h1>
		<figure class="figure">
			<img src="~/images/models/V20/Border.jpg" alt="Funkelnagelneu..." class="img-thumbnail" />
			<figcaption>Funkelnagelneu</figcaption>
		</figure>
		<div>
			<p>
				<a href="#engine">Motor</a>
			</p>
			<p>
				<a href="#actuation">Antrieb</a>
			</p>
			<p>
				<a href="#suspension">Aufhängung</a>
			</p>
			<p>
				<a href="#body">Karosserie</a>
			</p>
			<p>
				<a href="#equipment">Ausstattung</a>
			</p>
			<p>
				<a href="#tech">Technische Daten</a>
			</p>
		</div>
		<h2>Allgemeine Informationen</h2>
		<p>
			1991 kam der lange erwartete Nachfolger des Pajero L040. Nämlich der Pajero V20,
			auf den Markt. Trotz seines neuen und wesendlich runderen Designs werkelten unter
			dem Blech altbekannte Komponenten. Aber nicht Alles war altbacken. Die Antriebstechnik
			stellte zum Beispiel einen gewaltigen Schritt nach vorne dar. Der neue Pajero konnte
			mit Accessoirs aufwarten wie etwa Scheibenbremsen rundum, ABS sowie permanaenten
			Allradantrieb. Der alte Pajero war auf die Höhe der Zeit gewachsen und passte dich
			den Erfordernissen der Straße an. Im Gelände dagegen kassierten die Mitsubishientwickler
			Minuspunkte. Tiefer und breiter fiel der Pajero aus und das Fahrwerk war noch weniger
			verschränkungsfreudig als beim Vorgänger. Auch das Gewicht stieg alleine bei der
			Cabrioversion, der leichtesten, um 300 kg. die Motoren erfuhren nur eine geringe
			Überarbeitung und stellten geringfügig mehr Leistung zur Verfügung. Alles in Allem
			machten die Pajeroentwickler den nächsten logischen Schritt und entwickleten keinen
			neuen Pajero, sondern merzten einige alte Fehler aus um den Wagen den Erfordernissen
			der Zeit anzupassen.
		</p>
		<h2 id="engine">
			Motor des V20
		</h2>
		<figure class="figure">
			<img src="~/images/models/V20/Engine1.jpg" alt="Der Benziner" class="img-thumbnail" />
			<figcaption>Der Benziner</figcaption>
		</figure>
		<p>
			Zu Anfang der Pajero V20 Reihe im Jahre 1991 hatte sich bei der Motorisierung der
			Pajeros nicht viel geändert. Der Diesel bekam einen größeren Ladeluftkühler und
			eine neue Ladeluftturbine. Dadurch mobilisierte der Motor 4 PS und 5 Nm mehr Leistung
			bzw. Kraft, bei nach wie vor 4200 U/min bzw. 200 mosU/min. Der Benziner wurde ebenfalls
			nur ein wenig abgerundet. Er leistet 150 PS bei unveränderten 5000 U/min. Der Drehmoment
			erhöht sich auf 336 Nm erkauft dies aber mit einem Drehzahlsprung von 3000 auf 4000
			U/min.
		</p>
		<p>
			1994 schickt Mitsubishi den Pajero mit neuen Motoren ins Rennen. Die Vierventilwelle
			schwappt über die Autoindustrie und auch der Hersteller mit den drei Diamanten sieht
			nicht tatenlos zu und wirft einen neuen Motor mit eben dieser Technik auf den Markt.
			Die Pajeros mit dem neuen Kraftwerk ziert der Schriftzug “DOHC-24 V6 3500”. Übersetzt
			heißt das: Zwei oben liegende Nockenwelle, 24 Ventil (4 pro Zylinder), 6 Zylinder
			und 3500 cm³ Hubraum. Das ganze liefert 153 kW/208 PS bei 5000 U/min und 300 Nm
			bei 3000 U/min. Erreicht wurde der Leitungszuwachs durch eine Vergrößerung der Zylinderbohrung
			um 1,9 mm und eine Kurbelwelle mit 9,8 mm mehr Hub. Um dem Paket die richtige Würze
			zu geben, griff man bei Mitsubishi ins Teileregal und zauberte den 24 ventiligen
			Zylinderkopf des Allrad-Sportcoupés 3000 GT hervor, der auch flugs verbaut wurde.
			Die Zylinderbänke stehen immer noch im 60 Grad Winkel zueinander, ihnen wurde jedoch
			ein Schaltsaugrohr mit auf den Weg gegeben das den Aufladeeffekt des Turboladers
			verbesserte, damit der Motor bei niedrigen Drehzahlen mehr Kraft und bei hohen mehr
			Leistung bekommt. Das Verdichtungsverhältnis wurde auf 9,5:1 angehoben und verlangte
			nach Super-bleifrei als Betriebsstoff. Neben dem 24 ventiligem 3500 Motor durfte
			der betagte 3000 Motor weiterexistieren, jedoch nicht allzu lange.
		</p>
		<figure class="figure">
			<img src="~/images/models/V20/Engine2.jpg" alt="Der Dieselmotor" class="img-thumbnail" />
			<figcaption>Der Dieselmotor</figcaption>
		</figure>
		<p>
			Auch an der Dieselfront gab es Neuigkeiten. Der 2500 Motor bekam einen großen Bruder,
			den 2800 TD Motor. Dieser Motor stellte allerdings keine einfach Überarbeitung wie
			bei den Benzinmodellen dar, sondern war eine Neuentwicklung, welche die Mitsubishientwickler
			aus der Schublade zogen, um dem höheren Gewicht
			des Neuen Pajeros zu entsprechen. Der Motor der auf den Namen “4M40” getauft wurde
			wies großteils erhebliche Neuentwicklungen auf. Eine Gemeinsamkeit die allerdings
			blieb war das Wirbelkammerprinzip, jedoch beim Neuen mit Keramik beschichtet war
			um Temperaturspitzen zu vermindern. Beim 2800 Motor wurde auch endlich der Zahnriemenantrieb
			der Nockenwellen abgeschafft und ,wie beim Benziner, die teurere Kettenantriebsversion
			bevorzugt. Der neue Diesel stellt eine Verbesserung gegenüber dem Alten dar. Er
			besitzt zwar nicht die Laufkultur und Ruhe des alten Aggregats bietet dafür aber
			92 kW125 PS bei 4000 U/min und 292 Nm Drehmoment. Auch bei Beschleunigung und Höchstgeschwindigkeit
			zeigt sich der unterschied der Dieseltriebwerke: 156 km/h Höchstgeschwindigkeit
			beim 2800 gegenüber 141 km/h beim 2500 und eine Beschlenigung von 0 auf 100 in 16,6
			s beim Großen im Gegensatz zu 22,1 s beim Kleinen, sprechen eine deutliche Sprache.
			Der Verbrauch der Beiden unterscheidet sich jedoch nicht erheblich der Kleine verbraucht
			13,2 Liter auf 100 km der Große 0,2 Liter mehr. Mit diesen Daten reiht er sich in
			die Reihe der hochdrehenden Dieselmotoren von Mitsubishi ein.
		</p>
		<p>
			1995 verschwand der Pajero mit 3000 Motor kurzzeitig von der Bildfläche, um wenig
			später mit dem Kürzel 3000 V24 wieder zu erscheinen. Was war geschehen? Die Mitsubishiingenieure
			hatten dem kleinen Benziner kurzerhand einen Zylinderkopf mit Vierventiltechnik
			spendiert und beflügelten ihn so auf 133 kW/181 PS bei 5500 U/min und 255 Nm bei
			4500 U/min.
		</p>
		<h2 id="actuation">
			Antrieb des V20
		</h2>
		<figure class="figure">
			<img src="~/images/models/V20/Actuation.jpg" alt="Der Unterbau" class="img-thumbnail" />
			<figcaption>Der Unterbau</figcaption>
		</figure>
		<p>
			Die Antriebstechnik dürfte die Größte Herausforderung für die Pajeroentwickler dargestellte
			haben, denn was die Leute von Mitsubishi ablieferten hatte nicht mehr viel gemien
			mit den alt bekannten Komponenten des L040. Was die Ingenieure in ihrem stillen
			Kämmerlein entwickelten nannte die Marketingabteilung des Konzerns später “Super-Select
			4WD” und zu wählen gibt es eine Menge. Der altbekannte Heckantrieb überlebte den
			Generationenwechsel unbeschadet und auch die automatisch ausrückenden Freilaubnaben
			an der Vorderachse verrrichten weiterhin ihre Arbeit. Rückt man den Allradhebel
			eine Position nach vorne schaltet das Getriebe in den permanenten Allradmodus und
			verteilt die Antriebskräfte 50:50 an die Vorder- und Hinterachse. Sollten die Umstände
			es erfordern konnte das Mitteldifferential mittels einer stufenlosen Viskosesperre
			die Antriebskräfte je nach Bedarf an die Achsen weiterreichen. Alles voll automatisch.
			Wenn diese Tricks nicht mehr aus der Patsche helfen, schaltet einfach eine Position
			weiter und das Getriebe stellt einen starren Durchtrieb zwischen Vorder- und hinterachse
			her, überbrückt quasi die Viskosekupplung um fehlgeleitete Antriebsmomente zu bändigen.
			Sollte auch diese Maßnahme nicht greifen gibt es noch eine Geländeuntersetzung die
			aus so mancher Schlammschlacht als sieger hervorging. Aber Mitsubishi legte noch
			einen drauf und zwar in Form einer Heckdifferentialsperre, die unter 12 km/h einen
			starren Durchtrieb zwischen linkem und rechtem Hinterrad herstellte. So bestückt
			schaffte der Pajero es im Gelände trotz seines für Gelände eher ungeeignetem Fahrwerk
			so manchen Spötter zum Staunen zu bringen.
		</p>
		<h2 id="suspension">
			Aufhängung des V20
		</h2>
		<figure class="figure">
			<img src="~/images/models/V20/SuspensionFront.jpg" alt="Hinterachse" class="img-thumbnail" />
		</figure>
		<figure class="figure">
			<img src="~/images/models/V20/SuspensionRear.jpg" alt="Vorderachse" class="img-thumbnail" />
		</figure>
		<p>
			Prinzipiell änderte sich beim Generationssprung vom L040 zum V20 nichts am Fahrwerk.
			An der Vorderachse verbaute man nach wie vor Dreieckslenker mit Drehstabfedern und
			das Heck beherbergte die noch taufrische Starrachse des L040 nach Baujahr 1989,
			die an Schraubenfedern hing. Bei der Sicherheit hatte sich zum Modelljahr 1991 allerdings
			einiges getan. Rundrum wurden dem V20 Scheibenbremsen spendiert, was die aktive
			Sicherheit um ein Vielfaches verbesserte. Optional konnte man ein ABS-Bremssystem
			ordern das auf den Namen “Multi-Mode” hörte und eine Bremsung mit ABS selbst dann
			noch erlaubte, wenn der Allrad eingelegt und das hintere Differential gesperrt war.
			in den teureren Varianten GLX und GLS kam noch ein weiteres Schmankerl hinzu, nämlich
			in drei Stufen härtenverstellbare Stoßdämpfer, so dass man den Pajero ganz nach
			seinen Wünschen einstellen konnte.
		</p>
		<h2 id="body">
			Karosserie des V20
		</h2>
		<figure class="figure">
			<img src="~/images/models/V20/V20Short.jpg" alt="Kurzer Radstand" />
		</figure>
		<p>
			Zu Beginn gab es den V20 mit 5 verschiedenen Karosserien, die wie gewohnt auf einem
			robusten Leiterrahmen verschraubt wurden. Wie bei der L040-Serie gab es den V20
			als kurzen Zweitürer und als langen Viertürer. Den Kurzen mit Stahldach oder als
			Cabrio und den Langen nur mit Stahldach. Dem allgemeinen Trend folgend, wurden die
			Blechhäute wuchtiger designed und so fiel der kurze Pajero mit einer Gesamtlänge
			von 4145 mm, 150 m länger aus als sein Vorgänger. Auch in der Breite legte der neue
			Mitsubishi um 105 mm auf 1785 mm zu, gleichzeitig wurde er tiefer und “kauerte mit
			einer Höhe von 1815 mm, 35 mm tiefer auf der Straße als zuvor. Bei den langen V20
			sah es nicht anders aus. Sie fielen mit einer Abmessung von 4725 mm Länge und 1758
			mm Breite ebenfalls um Einiges größer aus.
		</p>
		<figure class="figure">
			<img src="~/images/models/V20/V20Long.jpg" alt="Langer Radstand" />
		</figure>
		<p>
			1998 zogen neue
			Gesichter in die Mitsubishiautohäuser ein. Dem Pajerowar ein Facelifting verschrieben
			worden und so unterzog man ihn dann einer Frischzellenkur. Die Radläufe wurden eckiger
			und die Seitenblinker überarbeitet. Die alten Sheinwefer wurden nun durch Vertreter
			in Klarglasoptik ersetzt und in die Frontstoßstange zogen Nebelscheinwerfer ein.
			Die Stoßstange selbst bekam ein Lochleiste in der Mitte. Zudem wurden die Übergänge
			von den Radläufen zu den Schwellern überarbeitet, so dass die Schweller jetzt tiefer
			zu liegen schienen was dem Pajero noch ein wenig mehr Sportlichkeit verlieh.
		</p>
		<h2 id="equipment">
			Ausstattung des V20
		</h2>
		<figure class="figure">
			<img src="~/images/models/V20/Cockpit.jpg" alt="Das Cockpit" class="img-thumbnail" />
			<figcaption>Das Cockpit</figcaption>
		</figure>
		<p>
			Den Pajero gab es von Anfang an in 11 Verschiedenen Varianten, die in ihren Ausstattungen
			teilweise erheblich variierten. Den Anfang bei den Diesel machte der kurze Pajero
			den es wahlweise mit Stahldach oder als Cabrio in der Version GL zu kaufen gab.
			Es folgte der kurze, nur mit Stahldach erhältliche, GLS. Den 5-türigen Pajero 2500TD
			bot Mitsubishi als GL, GLX und als GLS an. Weiter geht es mit den Benzinern. Den
			kurzen gab es als Cabrio in der GLX Ausführung, während die Stahldachvariante als
			GLS und wahlweise mit Automatik oder 5-Gang Handschaltung zu haben war. Den langen
			Benziner gab es nur in der GLS Version und ebenfalls wahlweise mit Automatik oder
			Handschaltung. Macht nach Adam Riese 11. Eine erstaunlich Fülle hatte sich da angehäuft,
			wenn man bedenkt, das es beim Auftakt 1983 geradeeinmal 3 Versionen waren. Als 1998
			die geliftete Version ihr Markteinführung erlebte, waren alle 2500 Motoren bis auf
			eine Variante gestrichen worden, der 2800 Motor hatte das Ruder in die Hand genommen.
			Auf der anderen Seite der Leistungsskala siedelte Mitsubishi den 3500 Motor an und
			strich den 3000 Benzinmotor gänzlich von seiner Liste. Neu war ab dem Modelljahr
			1998 auch die Sonderausführung American Dream die Mitsubishi gegen Aufpreis anbot.
		</p>
		<figure class="figure">
			<img src="~/images/models/V20/Equipment.jpg" alt="Ausstattung" class="img-thumbnail" />
			<figcaption>Ausstattung</figcaption>
		</figure>
		<p>
			Zum Modelljahr 1991 bot der Pajero GL einen Turbodieselmotor, den aus dem L040
			bekannten zuschaltbaren Allradantrieb, Seitenaufprallschutz, sowie herausklappbare
			Armlehnen und vier verstellbare Kopfstützen. Hinzu kam eine Scheinwerferwaschanlage
			und elektrisch verstellbare Außenspiegel. Die GLX Version brachte alle Merkmale
			der GL Variante und bot außerdem noch Super Select, ABS, Dämpferverstellung und
			Sitzlehnen mit einstellbaren Wirbelsäulen- und Seitenstützen. Eine Besonderheit
			findet sich in der GLX Cabrioversion. Diese bietet nämlich ein Sitzmemoryprogramm,
			mit dem sich der Sitz verschiedene Einstellungen merken kann und sich per Knopfdruck
			wieder auf den jeweiligen Fahrer einstellt. Die Technik der GLX und der GLS Variante
			war weitgehend identisch, aber bei der Optik schieden sich die Geister, denn der
			GLS kam mit lackierten Stoßfängern und Kotflügelverbreiterungen daher und sah dementsprechend
			noch wuchtiger aus als seine Standartbrüder. Darüber hinaus bot er als einziger
			ein Multimeter (Neigungsmesser, Höhenmesser und Außentemperatur) an.
		</p>
		<h2 id="tech">
			Technische Daten des V20
		</h2>
		<table>
			<tr>
				<td class="titlecolumn">
					Wagentype
				</td>
				<td class="titlerow">
					3-Türer, 3500 GDI
				</td>
				<td class="titlerow">
					3-Türer, 3200 DI-D
				</td>
				<td class="titlerow">
					3-Türer, 2500 Diesel
				</td>
				<td class="titlerow">
					5-Türer, 3500 GDI
				</td>
				<td class="titlerow">
					5-Türer, 3200 DI-D
				</td>
				<td class="titlerow">
					5-Türer, 2500 Diesel
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Motor
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Zylinderzahl
				</td>
				<td>
					6
				</td>
				<td>
					4
				</td>
				<td>
					4
				</td>
				<td>
					6
				</td>
				<td>
					4
				</td>
				<td>
					4
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Hubraum (cm³)
				</td>
				<td>
					3.497
				</td>
				<td>
					3.200
				</td>
				<td>
					2.477
				</td>
				<td>
					3.497
				</td>
				<td>
					3.200
				</td>
				<td>
					3.200
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Leistung (kW/PS) bei U/min
				</td>
				<td>
					149 / 202 bei 5.000
				</td>
				<td>
					121 / 165 bei 3.800
				</td>
				<td>
					85& / 115 bei 4.000
				</td>
				<td>
					149 / 202 bei 5.000
				</td>
				<td>
					121 / 165 bei 3.800
				</td>
				<td>
					85 / 115 bei 4.000
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Drehmoment (Nm) bei U/min
				</td>
				<td>
					318 bei 4.000
				</td>
				<td>
					373 bei 2.000
				</td>
				<td>
					240 bei 2.000
				</td>
				<td>
					318 bei 4.000
				</td>
				<td>
					373 bei 2.000
				</td>
				<td>
					240 bei 2.000
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Fahrwerk/Lenkung
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Felgengröße
				</td>
				<td>
					7.0JJ x 16
				</td>
				<td>
					7JJ x 16
				</td>
				<td>
					6JJ x 16
				</td>
				<td>
					7JJ x 16
				</td>
				<td>
					7JJ x 16
				</td>
				<td>
					6JJ x 16
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Reifengröße
				</td>
				<td>
					265 70 R 16
				</td>
				<td>
					265 70 R 16
				</td>
				<td>
					235 80 R 16
				</td>
				<td>
					265 70 R 16
				</td>
				<td>
					265 70 R 16
				</td>
				<td>
					235 80 R 16
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Bremsanlage
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Zweikreisbremsanalage
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Bremskraftverstärker
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Bremskraftregelventil
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
				<td>
					ja
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Bremsen vorne
				</td>
				<td>
					Scheiben
				</td>
				<td>
					Scheiben
				</td>
				<td>
					Scheiben
				</td>
				<td>
					Scheiben
				</td>
				<td>
					Scheiben
				</td>
				<td>
					Scheiben
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Bremsen hinten
				</td>
				<td>
					Scheiben
				</td>
				<td>
					Scheiben
				</td>
				<td>
					Scheiben
				</td>
				<td>
					Scheiben
				</td>
				<td>
					Scheiben
				</td>
				<td>
					Scheiben
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Abmessungen
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Radstand (mm)
				</td>
				<td>
					2.545
				</td>
				<td>
					2.545
				</td>
				<td>
					2.545
				</td>
				<td>
					2.780
				</td>
				<td>
					2.780
				</td>
				<td>
					2.780
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Wendekreis (m)
				</td>
				<td>
					5,3
				</td>
				<td>
					5,3
				</td>
				<td>
					5,3
				</td>
				<td>
					5,7
				</td>
				<td>
					5,7
				</td>
				<td>
					5,7
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Gesamtlänge (mm)
				</td>
				<td>
					4.315
				</td>
				<td>
					4.315
				</td>
				<td>
					4.295 - 4.315
				</td>
				<td>
					4.830
				</td>
				<td>
					4.810 - 4.830
				</td>
				<td>
					4.810 - 4.830
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Gesamtbreite (mm)
				</td>
				<td>
					1.895
				</td>
				<td>
					1.895
				</td>
				<td>
					1.885 - 1.895
				</td>
				<td>
					1.885 - .1895
				</td>
				<td>
					1.885 - 1.895
				</td>
				<td>
					1.885 - 1.895
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Gesamthöhe (mm)
				</td>
				<td>
					1.845
				</td>
				<td>
					1.845
				</td>
				<td>
					1.845
				</td>
				<td>
					1.855
				</td>
				<td>
					1.855
				</td>
				<td>
					1.855
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Bodenfreiheit (mm)
				</td>
				<td>
					235
				</td>
				<td>
					235
				</td>
				<td>
					235
				</td>
				<td>
					235
				</td>
				<td>
					225
				</td>
				<td>
					235
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Türen
				</td>
				<td>
					2 + Hecktür
				</td>
				<td>
					2 + Hecktür
				</td>
				<td>
					2 + Hecktür
				</td>
				<td>
					4 + Hecktür
				</td>
				<td>
					4 + Hecktür
				</td>
				<td>
					4+Hecktür
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Sitzplätze
				</td>
				<td>
					5
				</td>
				<td>
					5
				</td>
				<td>
					5
				</td>
				<td>
					7
				</td>
				<td>
					7
				</td>
				<td>
					7
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Gewichte
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Leergewicht (kg)
				</td>
				<td>
					1.955
				</td>
				<td>
					2.000
				</td>
				<td>
					1.880 - 1.950
				</td>
				<td>
					2.070 - 2.110
				</td>
				<td>
					2.125 - 2.125
				</td>
				<td>
					2.070 - 2.120
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Zulässiges Gesamtgewicht (kg)
				</td>
				<td>
					2.515
				</td>
				<td>
					2.510
				</td>
				<td>
					2.510
				</td>
				<td>
					2.760
				</td>
				<td>
					2.810
				</td>
				<td>
					2.760
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Fahrleistungen/Verbrauch
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
				<td class="titlerow">
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Höchstgeschwindigkeit (km/h)
				</td>
				<td>
					185 - 190
				</td>
				<td>
					170
				</td>
				<td>
					150
				</td>
				<td>
					185 - 190
				</td>
				<td>
					170
				</td>
				<td>
					150
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Beschleunigung 0-100 km/h (sec)
				</td>
				<td>
					10,0 - 11,7
				</td>
				<td>
					11,5 - 13,2
				</td>
				<td>
					17,1
				</td>
				<td>
					10,7 - 12,5
				</td>
				<td>
					13,5 - 14
				</td>
				<td>
					18,2
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Kraftstoffart
				</td>
				<td>
					Super
				</td>
				<td>
					Diesel
				</td>
				<td>
					Diesel
				</td>
				<td>
					Super
				</td>
				<td>
					Diesel
				</td>
				<td>
					Diesel
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Kraftstoffverbrauch Stadtverkehr (l/100 km)
				</td>
				<td>
					16,8 - 19,5
				</td>
				<td>
					12,0 - 12,1
				</td>
				<td>
					13,0 - 13,4
				</td>
				<td>
					16,8 - 19,5
				</td>
				<td>
					13,5 - 14,0
				</td>
				<td>
					13,0 - 13,4
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Kraftstoffverbrauch außerstädtisch (l/100 km)
				</td>
				<td>
					10,5 - 11,1
				</td>
				<td>
					7,8 - 8,0
				</td>
				<td>
					8,9 - 9,2
				</td>
				<td>
					10,5 - 11,1
				</td>
				<td>
					8,4 - 8,7
				</td>
				<td>
					8,9 - 9,2
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Kraftstoffverbrauch Durchschnitt(l/100 km)
				</td>
				<td>
					12,8 - 14,2
				</td>
				<td>
					9,3 - 9,5
				</td>
				<td>
					10,4 - 10,8
				</td>
				<td>
					12,8 - 14,2
				</td>
				<td>
					10,3 - 10,7
				</td>
				<td>
					10,4 - 10,8
				</td>
			</tr>
			<tr>
				<td class="titlecolumn">
					Tankinhalt (l)
				</td>
				<td>
					71
				</td>
				<td>
					71
				</td>
				<td>
					70
				</td>
				<td>
					90
				</td>
				<td>
					90
				</td>
				<td>
					90
				</td>
			</tr>
		</table>
	</div>

