@page
@model MitsubishiPajero.Pages.Modelle.IndexModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

	<div class="text-center">
		<h1>
			Die Modellreihen
		</h1>
		<p>
			Der Mitsubishi Pajero kann auf eine lange und erfolgreiche Geschichte zurückblicken
			in der er häufig auf den Siegerpodesten dieser Welt stand - Im Automobilbereich
			genauso wie im Motorsport. Wer sich Besitzer eines Pajeros nennen kann, weiß warum
			er den Wagen fährt und die Fahrer der ersten Stunde wissen, dass der Pajero, obwohl
			technisch und optisch verändert und verbessert, ein Pajero ist und bleibt.
		</p>
		<p>
			Das besondere Feeling vermittelt er in jeder Generation seines Bestehens. Als der
			Pajero 1983 zum ersten Mal europäischen Boden berührte, ahnten die Wenigsten zu
			was er es einmal bringen sollte. Doch der Erfolg kündigte sich schnell an, in Form
			von Verkaufszahlen und Rennerfolgen. Als dann 1991 der V20 kam, erkannte man die
			konsequente Weiterentwicklung und mit ihr setzte sich der Erfolg weiter fort. Als
			dann kurz nach der Jahrtausendwende der Pajero V60 auftauchte, war er abermals den
			Ansprüchen der Zeit gewachsen und obwohl er mittlerweile Konkurrenz auf dem Automarkt
			bekommen hatte, setzte er sich wieder durch. Auf der IAA 2001 in Frankfurt war es
			dann soweit, der Pajero Evolution wurde zum erste Mal einem breiten Publikum vorgestellt.
			Ob er noch ein Pajero ist können sie hier selbst entscheiden.
		</p>
		<p>
			Auf der Pariser-Automobilsalon 2006 wurde der V80, also der neue Pajero angekündigt.
			Obwohl das Motto bei seiner Entwicklung und beim Design "Evolution statt Revolution"
			hieß wurden 70% aller Bauteile neu entwicklet.
		</p>
		<p>
			<a href="~/Modelle/L040/Index">L040</a>
			<a href="~/Modelle/V20/Index">V20</a>
			<a href="~/Modelle/V60/Index">V60</a>
			<a href="~/Modelle/V80/Index">V80</a>
			<a href="~/Modelle/Evolution/Index">Evolution</a>
		</p>
		<figure>
			<img src="~/images/models/Models.jpg" alt="Treffen der Generationen" class="img-thumbnail" />
			<figcaption>Treffen der Generationen</figcaption>
		</figure>
	</div>
