@page
@model MitsubishiPajero.Pages.Modelle.L040.IndexModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h1>
		L040
	</h1>
	<figure>
		<img src="~/images/models/L040/L040.jpg" alt="Funkelnagelneu..." />
		<figcaption>Funkelnagelneu</figcaption>
	</figure>
	<div>
		<p>
			<a href="#engine">Motor</a>
		</p>
		<p>
			<a href="#actuation">Antrieb</a>
		</p>
		<p>
			<a href="#suspension">Aufhängung</a>
		</p>
		<p>
			<a href="#body">Karosserie</a>
		</p>
		<p>
			<a href="#equipment">Ausstattung</a>
		</p>
		<p>
			<a href="#tech">Technische Daten</a>
		</p>
		<p>
			<a href="#used	">Gebrauchtwagen-Tipps</a>
		</p>
	</div>
	<h2>Allgemeine Informationen</h2>
	<p>
		Man schrieb das Jahr 1983, als der Mitsubishi Pajero, damals in der Bauform L040,
		erstmals europäischen, genauer gesagt deutschen, Boden unter die Räder nahm. Zu
		dieser Zeit waren die meisten anderen Geländewagen noch kantige, komfortlose und
		wenig temperamentvolle Panzer mit dem Prädikat langlebig und robust. Der Pajero
		machte in Belangen Qualität und Zuverlässigkeit keine Abstriche, jedoch achtete
		er mehr als alle Anderen auf Komfort. Das schlägt sich in Details wie: gegenläufig
		rotierende Ausgleichwellen, Einzelradaufhängung vorne und Scheinwerferwaschanlage
		nieder. Heutzutage muten diese Accessoires altertümlich an, damals jedoch waren
		sie das Non-Plus-Ultra der Geländewagenszene. Von den anderen Geländewagenherstellern
		wegen seiner Einzelradaufhängung an der Vorderachse belächelt, lehrte der Pajero
		seiner Konkurrenz das Fürchten, als er sich auf der Paris-Dakar mit Bravour schlug
		und allen anderen Herstellern die Show stahl.
	</p>
	<p>
		Zunächst gab es den Pajero nur in drei Varianten zu kaufen, allesamt mit kurzem
		Radstand, zwei Türen. Den Benziner gab es in den Ausführungen Stahldach und Soft-Top,
		den Diesel ausschlisslich mit Stahldach. Mit geradeeinmal 3935 mm Länge und 2350
		mm Radstand ergab sich ein Wendekreis von 11,2 Metern, was in etwa Golf I - Dimensionen
		entsprach. Der Pajero brachte je nach Ausstattung gerade einmal 1415 kg bis 1475
		kg auf die Waage und durfte bis zu 2115 kg vollgepackt werden. Ein Federgewicht,
		wenn man bedenkt, dass der vollkommen “nackte” Mercedes G in der Bundeswehrvariante
		selbst heute nach 2,0 Tonnen auf die Waage bringt.
	</p>
	<p>
		2 Jahre nach der Erstveröffentlichung des Pajeros, bekam er zwei große Geschwister
		mit 4600 mm Gesamtlänge und 2695 mm Radstand sowie vier Türen. Einen mit Dieselmotor,
		den es nur mit Hochdach Karosserie zu kaufen gab, und einen Flachdach Benziner ebenfalls
		mit Stahldach. Beide wogen zwischen 1705 kg und 1750 kg, wobei der Benziner als
		der Leichtere daherkam.
	</p>
	<p>
		Noch mal 2 Jahre später, nämlich 1987, hielten Neuerungen wie: Katalysatoren für
		den Benziner, größere Dieselaggregate und eine Flachdachversion des langen Dieselpajeros
		Einzug in die Pajeroserie.
	</p>
	<p>
		Dann 1989 erfolgte die letzte Änderung an der L040 Baureihe in Form eines 3 Liter
		Turbomotors mit 6 Zylindern für den Benzinpajero und einem Ladeluftkühler für die
		Diesel getriebenen Wagen. Auch an der Hinterachse des Benziners gab es Neuigkeiten
		zu vermelden, denn hier hielt erstmals eine schraubengefederte Starrachse Einzug.
	</p>
	<h2 id="engine">
		Motor des L040
	</h2>
	<figure class="figure">
		<img src="~/images/models/L040/Engine1.jpg" alt="Der Benziner" class="img-thumbnail" />
		<figcaption>Der Benziner</figcaption>
	</figure>
	<p>
		1983, in den Anfängen des Pajeros, war die Motorpalette alles Andere als üppig.
		Geradeeinmal zwei Motoren standen zur Auswahl: Ein Diesel und ein Benziner.
	</p>
	<p>
		Der Dieselmotor mit dem Werkscode “4D55” wurde mit Graugussblock und Leichtmetallkopf
		gefertigt und geliefert. Ein Highlight des Motors (wie auch des Benziners) sind
		zwei gegenläufig rotierende Ausgleichwellen, die Motorschwingungen schluckten. Sie
		sind in Fahrtrichtung oben rechts und unten links angebracht. Diesel Kiki hieß die
		Firma welche die Einspritzpumpe, ein Bosch Lizenzbau, zusteuerte. Drosseleinspritzdüsen
		sind für die Füllung der Wirbelkammer zuständig und ein Abgasturbolader von Mitsubishi
		Heavy Industries sorgt für den richtigen “Druck” beim Tritt auf das Gaspedal. Die
		Ventile werden über eine oben liegende Nockenwelle, die mittels eines Zahnriemen
		mit der Kurbelwelle verbunden ist, gesteuert. Mit einer Bohrung von 91,1 mm und
		einem Hub von 90 mm ist der Zylinder des Dieselmotor fast quadratisch ausgelegt,
		der Gesamthubraum beträgt 2346 cm³, das Verdichtungsverhältnis von 21:1 sorgt für
		Fahrdaten der munteren Art. Bei gerade 4200 U/min entfaltet der Motor sein volles
		Potential nämlich 84 PS, daran gemessen enttäuschen die 175 Nm Drehmoment die bei
		relativ hohen 2500 U/min anstehen. Während seiner Laufzeit hatte der Dieselmotor
		häufig mit thermischen Problemen zu kämpfen, durchgebrannte Zylinderkopfdichtungen
		waren an der Tagesordnung.
	</p>
	<p>
		Der zweite Block im Programm war der, ebenfalls mit Graugussblock und Leichtmetallkopf
		hergestellte, Benziner mit einem Hubraum von 2555 cm³´. Auch er profitierte von
		den beiden Ausgleichwellen, die an gleicher Stelle montiert waren. Im Gegensatz
		zum Diesel steuerte der Benziner seine ebenfalls oben liegende Nockenwelle über
		einer Robuste Kette die ohne Umschweife auf die Kurbelwelle zugreift. Für die Befüllung
		der Brennräume ist ein Fallstrom-Registervergaser zuständig und die Zündung geschieht
		via einer kontaktgesteuerten Transistorzündung. Bohrung und Hub des Zylinders betragen
		98 mm, damit ist der Motor auf Drehmoment ausgelegt. Und das schlägt sich mit 192
		Nm nieder die bei der gleichen Drehzahl wie beim Diesel anliegen nämlich 2500 U/min.
		Auch die Leistung überflügelt den Diesel und zwar um 19 PS, denn der 2600 Benziner
		mobilisiert 103 PS bei 4500 U/min.
	</p>
	<p>
		1987 geschah er dann, dass die Motoren der Pajerofamilie Nachwuchs bekamen. Der
		Benziner wurde keiner Veränderung unterzogen, jedoch wurde ihm ein geregelter Katalysator
		nachgeschoben, der die Leistung nicht verminderte aber die Nenndrehzahl 500 U/min
		nach oben schraubte. Fortan lieferte der 2600 Motor 103PS bei 5000 U/min. Das Drehmoment
		allerdings litt unter dem Saubermann im Auspufftrakt und sank auf 183 Nm. In der
		Praxis machte sich dieser Unterschied nicht bemerkbar, denn der ungereinigt Pajero
		erreichte eine Höchstgeschwindigkeit von 144,7 km/h gegenüber 144,4 km/h beim gereinigten.
		Auch die Beschleunigungswerte liegen mit 16,4 s ohne Kat und 16,6 s mit Kat in Bereichen
		die zu vernachlässigen sind. Auf der Dieselseite gab es tiefgreifendere Veränderungen.
		So wurde der Hubraum auf 2.5 Liter aufgebohrt und fortan lieferte der Motor 201
		Nm bei 200 U/min. Die Leistung veränderte sich jedoch nicht. Der Fahrleistung des
		Pajero mit Dieselmotor tat die Erhöhung des Hubs sehr gut denn der Pajero beschleunigte
		aus dem Drehzahlkeller rigoros nach oben.
	</p>
	<figure class="figure">
		<img src="~/images/models/L040/Engine2.jpg" alt="Der Dieselmotor" class="img-thumbnail" />
		<figcaption>Der Dieselmotor</figcaption>
	</figure>
	<p>
		1989 gab es das letzte Mal eine Veränderung an der L040 Baureihe. Der 2600 Motor
		wurde abgelöst durch einen Zeitgemäßen ersetzt, nämlich durch den “6 G 72”, einen
		V6 Turbomotor mit 3 Liter Hubraum. Der Winkel der Zylinderbänke, die jeweils eine
		Zahnriemen getriebene Nockenwelle beherbergen, beträgt 60 Grad. Bohrung und Hub
		fielen mit 91,1 mm und 76 mm eher kurzhubig aus und das Verdichtungsverhältnis von
		8,9:1 erlaubte es den Motor mit Normalbenzin zu betreiben. Der Motor leistet, wie
		der 2600 Motor, sein maximales Drehmoment bei 3000 U/min und seine maximale Leistung
		bei 5000 U/min, allerdings in anderen Dimensionen, denn er mobilisiert 144PS und
		225 Nm Drehmoment. Der Vergaser musste einer zylinderselektiven, elektronisch geregelten
		Benzineinspritzung weichen und die Zündanlage einer kontaktlosen Kennfeldzündung.
		Im Gegensatz zum 2600 Motor der gestrichen wurde bekam der Diesel einen großen Bruder
		der ebenfalls 2500 cm³ aufwies. Er war aber zusätzlich mit einem Ladeluftkühler
		ausgerüstet der den Dieselmotor bei gleicher Drehzahl zu 95 PS also 11Ps mehr verhalf
		und das Drehmoment auf 135 Nm bei 200 U/min anhob. Diese Überarbeitung kam nicht
		nur den Fahrleistungen zu Gute sondern auch dem Verbrauch der mit 12,5 l/100km gegenüber
		13,1 l/100km deutlich niedriger ausfiel. Der Ladeluftgekühlte Pajero ist heute noch
		an der enormen Lufthutze in der Motorhaube zu erkennen.
	</p>
	<h2 id="actuation">
		Antrieb des L040
	</h2>
	<figure class="figure">
		<img src="~/images/models/L040/Gearbox.jpg" alt="Das Getriebe in Schnittansicht" class="img-thumbnail" />
		<figcaption>Das Getriebe in Schnittansicht</figcaption>
	</figure>
	<p>
		Zwischen dem Jahr 1983, in dem der Pajero eingeführt wurde, und dem Jahr 1987 änderte
		sich an der Antriebstechnik des Pajeros herzlich wenig, nämlich gar nichts. Der
		Pajero L040 wurde mit einem Fünfganggetriebe und hydraulisch unterstützter Kupplung
		ausgeliefert. An das Schaltgetriebe schließt sich das Reduktionsgetriebe an, dass
		bei Bedarf Übersetzung auf 1,944:1 ändert und damit fast die doppelte Kraft an die
		Räder liefert. An das Verteilergetriebe wiederum wurde das Verteilergetriebe angeflanscht,
		das über einen robust Kettenantrieb, die Hälfte der Antriebskraft auf die Vorderachse
		lenkt. Der Pajero verzichtet dabei auf einen Mittendifferential. Aus diesem Grund
		eignet sich der Allradantrieb des Pajero L040 auch nicht für den Betrieb auf festen
		Straßen. Durch die unterschiedlichen Wege die Vorder- und Hinterachse zurücklegen
		käme es zu enormen Verwindungen im Antriebsstrang. Ein Highlight das die Straßencowboys
		sehr zu schätzen wissen (und die Geländefanatiker gleichermaßen verachten) sind
		die automatischen Freilaufnaben and der Vorderachse. Die Freilaufnaben ermöglichen
		es den vorderen Antrieb von den Rädern abzukoppeln, so dass die Vorderräder die
		Antriebsachsen nicht passiv mitdrehen, das vermindert den Verschleiß erheblich.
		Wenn der Allradbetrieb zugeschaltet wird, rasten die Naben durch die Bewegung der
		Antriebswellen ein und die Räder werden mit Antriebskraft versorgt. Setzt man im
		Gelände jedoch rückwärts, so rasten die Freilaufnaben jedoch wieder aus und der
		Wagen hat beim erneuten Vorwärtsfahren nur Heckantrieb, bis die Neben wieder einrasten.
		Aus diesem Grund sind die Freilaufnaben, das erste was der ambitionierte Off-Roader
		am Pajero auswechselt, meist gegen manuelle Freilaufnaben. 1987 biete Mitsubishi
		plötzlich ein Vierstufen-Automatikgetriebe neuster Bauart an, das allerdings nur
		in Verbindung mit der langen Hochdachversion des dieselgetriebenen Pajeros zu haben
		ist. Jedoch verschwindet es ein halbes Jahr später, aufgrund von unüberwindbaren
		Abstimmungsschwierigkeiten wieder aus dem Sortiment.
	</p>
	<h2 id="suspension">
		Aufhängung des L040
	</h2>
	<figure class="figure">
		<img src="~/images/models/L040/Suspension.jpg" alt="Von unten gesehen" class="img-thumbnail" />
		<figcaption>Von unten gesehen</figcaption>
	</figure>
	<p>
		Wie auch beim Antrieb änderte sich am Fahrwerk des Pajeros lange Zeit nichts. Er
		galt, mit seiner für Geländewagen außergewöhnlichen Fahrwerkstechnik, ohnehin als
		seiner Zeit voraus. An der Vorderachse installierten die japanischen Ingenieure
		Zwei übereinanderliegende Dreieckslenker die mittels einer massiven Querlenkerstrebe
		verbunden waren. An den unteren Dreieckslenkern wurde jeweils eine Drehstabfeder
		befestigt, die es erlaubte die Höhe des Fahrwerks im vorderen Bereich zu erhöhen
		und zu vermindern. Die Stoßdämpfer wurden ebenfalls an den unteren Dreieckslenkern
		befestigt und stützten sich gegen der Leiterrahmen ab. Zudem wurden an der Vorderachse
		zwei innenbelüftete Scheibenbremsen angebracht, die dem Pajero die nötige Verzögerung
		bringen sollten. An der Hinterachse kam eine Starrachse zum Einsatz die mit Blattfedern
		kombiniert wurden. Hinzu kamen zwei gegenläufig angebrachte Stoßdämpfer. Hinten
		bremste der Pajero mit zwei lastabhängig verstellbaren Trommelbremsen. Während die
		Vorderachse, nach damaligen Verhältnissen für Geländewagen, futuristisch anmutete,
		kam an der Hinterachse bewährte und robuste Technik zum Einsatz. Der Erfolg dieser
		Kombination wurde durch den Komfort und die Erfolge auf der Paris-Dakar untermauert.
		1989 war die Ära der Blattfedern, zumindest im Benziner und den Intercoolermodellen
		der Dieselreihe, vorbei und so tauschten die Mitsubishi Ingenieure die alten Stahlbretter
		gegen modere Schraubenfedern und gingen damit abermals neue Wege bei der Fahrwerkstechnik
		von Geländewagen. Seltsamerweise musste der alte Diesel ohne Intercooler auf das
		neue Fahrwerkspaket verzichten. Wahrscheinlich hielt man den Diesel bei Mitsubishi
		für das Arbeitstier unter den Pajeros und ließ ihm zugunsten der Zuladung und Anhängerstützlast
		die Blattfedern.
	</p>
	<h2 id="body">
		Karosserie des L040
	</h2>
	<figure class="figure">
		<img src="~/images/models/L040/L040Short.jpg" alt="Kurzer Radstand" class="img-thumbnail" />
		<figcaption>Kurzer Radstand</figcaption>
	</figure>
	<figure class="figure">
		<img src="~/images/models/L040/L040Long.jpg" alt="Langer Radstand" class="img-thumbnail" />
		<figcaption>Langer Radstand</figcaption>
	</figure>
	<p>
		Am Anfang der Pajerogeschichte rollten gerade mal zwei Karosserievarianten durch
		die Lande. Beide mit kurzen Radstand, der Eine mit Stahldach der Andere mit Bikinitop.
		Wie alle späteren Pajeros der Baureihe L040 auch, ruhte das Blechkleid auf einem
		Stahlleiterrahmen der Marke “unkaputtbar”, und war mit Gummibüchsen auf diesem befestigt.
		1985 kamen zu den beiden Kurzen dann zwei Lange hinzu. Beide wurden mit einem Stahldach
		ausgeliefert, jedoch in zwei Varianten, nämlich mit Hochdach und Flachdach. Außerdem
		wurde in diesem Modelljahr der Kühlergrill einer designerischen Maßnahme unterzogen.
		Zierte vorher ein riesiger Mitsubishi Schriftzug mit einem Mitsubishiemblem an der
		linken Seite die Frontansicht war es nach der Designänderung nur noch die drei Diamanten
		in der Mitte des Kühlergrills. 1989 vollzog sich dann die letzte und mit Abstand
		kleinste Neuerung an der Karosserieform der Pajeros. Der
		Intercooler des Dieselmotors erforderte etwas mehr Luft als die Karosserieform lieferte,
		deshalb wurde kurzerhand eine riesige Lufthutze in die Motorhaube gestanzt, woran
		fortan alle Intercooler zu erkennen waren. Ein Facelift hat die Baureihe L040 nie
		bekommen und auch nie nötig gehabt. Wenn Sie glauben diese Behauptung entspräche
		nicht ganz der Wahrheit, dann lassen sie sich gesagt sein, dass die Kotflügelverbreiterungen,
		die man häufig an den Intercoolern und den V6 Modellen sieht, nie ab Werk geliefert
		wurde.
	</p>
	<h2 id="equipment">
		Ausstattung des L040
	</h2>
	<figure class="figure">
		<img src="~/images/models/L040/Shiftstick.jpg" alt="Schaltkulisse" class="img-thumbnail" />
		<figcaption>Schaltkulisse</figcaption>
	</figure>
	<p>
		Die Ausstattung des Pajeros fiel für damalige Verhältnisse geradezu üppig aus. So
		gehörten serienmäßig eine Scheinwerferwaschanlage und eine Reserveradabdeckung zum
		Pajero. Die Liste ging weiter mit Unterbodenschutzblechen vorne (sicherlich eine
		notwendige Maßnahme angesichts der Einzelradaufhängung), Servolenkung, Drehzahlmesser,
		ein abschließbarer Tankdeckel, Halogen Hauptscheinwerfer, optische Anzeige für Allradbetrieb,
		Warnsignal bei nicht geschlossenen Türen, getönte Scheiben, Rückfahrscheinwerfer
		auf Fahrer- und Beifahrerseite sowie Haltegriffe für alle Sitzplätze. Angesichts
		der damaligen Standarts war der Pajero ein Ausbund an Komfort, gerade was den Geländewagensektor
		anging. Zum Modelljahr 1987 erhielt der Pajero zudem eine Überarbeitung der Armaturen.
		Das Design des Tacho und des Drehzahlmessers wurden überarbeitet und wirkten danach
		nicht mehr so klobig wie früher. Außerdem wurde die Ablage zwischen den beiden vorderen
		Sitzen, durch eine vollwertig Mittelkonsole, mit Ablagefächern und einem Klappfach,
		ersetze.
	</p>
	<h2 id="tech">
		Technsiche Daten des L040
	</h2>
	<table border="0" cellpadding="0" cellspacing="1">
		<tr>
			<td colspan="2" valign="top">
				<table>
					<tr>
						<td class="titlecolumn">
							Wagentype
						</td>
						<td class="titlerow">
							2-Türer, 2600 Beziner, Stahldach
						</td>
						<td class="titlerow">
							2-Türer, 2500 Turbodiesel, Stahldach
						</td>
						<td class="titlerow">
							4-Türer, 2600 Benziner Stahldach flach
						</td>
						<td class="titlerow">
							4Türer, 2500 Turbodiesel, Stahldach hoch
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Motor/Krafübertragung
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
					</tr>
					<tr>
						<td style="height: 2px" class="titlecolumn">
							Zylinderzahl
						</td>
						<td style="height: 2px">
							4
						</td>
						<td style="height: 2px">
							4
						</td>
						<td style="height: 2px">
							4
						</td>
						<td style="height: 2px">
							4
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Hubraum (cm³)
						</td>
						<td>
							2.531
						</td>
						<td>
							2.454
						</td>
						<td>
							2.531
						</td>
						<td>
							2.454
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Bohrung x Hub (mm)
						</td>
						<td>
							91.1 x 98.0
						</td>
						<td>
							91.1 x 95.0
						</td>
						<td>
							91.1 x 98.0
						</td>
						<td>
							91.1 x 95.0
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Verdichtung
						</td>
						<td>
							8.2 : 1
						</td>
						<td>
							21.0 : 1
						</td>
						<td>
							8.2 : 1
						</td>
						<td>
							21.0 : 1
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Leistung (kW/PS) bei U/min
						</td>
						<td>
							76 / 103 bei 4500
						</td>
						<td>
							62 / 84 bei 4200
						</td>
						<td>
							76 / 103 bei 4500
						</td>
						<td>
							62 / 84 bei 4200
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Drehmoment (Nm) bei U/min
						</td>
						<td>
							192 bei 2500
						</td>
						<td>
							201 bei 2000
						</td>
						<td>
							192 bei 2500
						</td>
						<td>
							201 bei 2000
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Zündanlage
						</td>
						<td>
							kontaktlos
						</td>
						<td>
							-
						</td>
						<td>
							kontaktlos
						</td>
						<td>
							-
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Startautomatik
						</td>
						<td>
							ja
						</td>
						<td>
							-
						</td>
						<td>
							ja
						</td>
						<td>
							-
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							5-Gang-Getriebe mit Verteilergetriebe
						</td>
						<td>
							ja
						</td>
						<td>
							ja
						</td>
						<td>
							ja
						</td>
						<td>
							ja
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Lichtmaschine (V/A)
						</td>
						<td>
							12/50
						</td>
						<td>
							12/45
						</td>
						<td>
							12/50
						</td>
						<td>
							12/45
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Batterie (V/Ah)
						</td>
						<td>
							12/60
						</td>
						<td>
							12/80
						</td>
						<td>
							12/60
						</td>
						<td>
							12/80
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Fahrwerk/Lenkung
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Felgengröße
						</td>
						<td>
							5.5 JJ x 15
						</td>
						<td>
							5.5JJ x 15
						</td>
						<td>
							5.5JJ x 15
						</td>
						<td>
							5.5JJ x 15
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Reifengröße
						</td>
						<td>
							215 SR 15
						</td>
						<td>
							215 SR 15
						</td>
						<td>
							215 SR 15
						</td>
						<td>
							215 SR 15
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Bremsanlage
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Zweikreisbremsanalage
						</td>
						<td>
							ja
						</td>
						<td>
							ja
						</td>
						<td>
							ja
						</td>
						<td>
							ja
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Bremskraftverstärker
						</td>
						<td>
							ja
						</td>
						<td>
							ja
						</td>
						<td>
							ja
						</td>
						<td>
							ja
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Bremskraftregelventil
						</td>
						<td>
							ja
						</td>
						<td>
							ja
						</td>
						<td>
							ja
						</td>
						<td>
							ja
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Bremsen vorne
						</td>
						<td>
							Scheiben
						</td>
						<td>
							Scheiben
						</td>
						<td>
							Scheiben
						</td>
						<td>
							Scheiben
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Bremsen hinten
						</td>
						<td>
							Trommel
						</td>
						<td>
							Trommel
						</td>
						<td>
							Trommel
						</td>
						<td>
							Trommel
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Abmessungen
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Radstand (mm)
						</td>
						<td>
							2350
						</td>
						<td>
							2350
						</td>
						<td>
							2695
						</td>
						<td>
							2695
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Spurweite vorne (mm)
						</td>
						<td>
							1400
						</td>
						<td>
							1400
						</td>
						<td>
							1400
						</td>
						<td>
							1400
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Spurweite hinten (mm)
						</td>
						<td>
							1375
						</td>
						<td>
							1375
						</td>
						<td>
							1375
						</td>
						<td>
							1375
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Wendekreis (m)
						</td>
						<td>
							11.1
						</td>
						<td>
							11.1
						</td>
						<td>
							12.5
						</td>
						<td>
							12.5
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Gesamtlänge (mm)
						</td>
						<td>
							3995
						</td>
						<td>
							3995
						</td>
						<td>
							4600
						</td>
						<td>
							4600
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Gesamtbreite (mm)
						</td>
						<td>
							1680
						</td>
						<td>
							1680
						</td>
						<td>
							1680
						</td>
						<td>
							1680
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Gesamthöhe (mm)
						</td>
						<td>
							1840
						</td>
						<td>
							1840
						</td>
						<td>
							1985
						</td>
						<td>
							1985
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Zulässiges Gesamtgewicht (kg)
						</td>
						<td>
							2115
						</td>
						<td>
							2115
						</td>
						<td>
							2450
						</td>
						<td>
							2450
						</td>
					</tr>
					<tr>
						<td style="height: 18px" class="titlecolumn">
							Bodenfreiheit (mm)
						</td>
						<td style="height: 18px">
							197
						</td>
						<td style="height: 18px">
							200
						</td>
						<td style="height: 18px">
							215
						</td>
						<td style="height: 18px">
							195
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Böschungswinkel vorne (°)
						</td>
						<td>
							44
						</td>
						<td>
							44
						</td>
						<td>
							41
						</td>
						<td>
							41
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Böschungswinkel hinten (°)
						</td>
						<td>
							33
						</td>
						<td>
							33
						</td>
						<td>
							28
						</td>
						<td>
							28
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Kippwinkel (°)
						</td>
						<td>
							45
						</td>
						<td>
							45
						</td>
						<td>
							45
						</td>
						<td>
							45
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Steigfähigkeit (%/°)
						</td>
						<td>
							70 / 35
						</td>
						<td>
							73 / 35
						</td>
						<td>
							73 / 35
						</td>
						<td>
							73 / 35
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Türen
						</td>
						<td>
							2 + Hecktür
						</td>
						<td>
							2 + Hecktür
						</td>
						<td>
							4 + Hecktür
						</td>
						<td>
							4 + Hecktür
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Sitzplätze
						</td>
						<td>
							4
						</td>
						<td>
							4
						</td>
						<td>
							4
						</td>
						<td>
							4
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Gewichte
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Leergewicht (kg)
						</td>
						<td>
							1460 - 1495
						</td>
						<td>
							1520 - 1555
						</td>
						<td>
							1665 - 1720
						</td>
						<td>
							1740 - 1795
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Zuladung (kg)
						</td>
						<td>
							620 - 655
						</td>
						<td>
							560 - 595
						</td>
						<td>
							730 - 785
						</td>
						<td>
							655 - 710
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Anhängelast ungebremst (kg)
						</td>
						<td>
							750
						</td>
						<td>
							750
						</td>
						<td>
							750
						</td>
						<td>
							750
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Anhängelast gebremst bis 12% Steigung mit Ausnahmebescheinigung (kg)
						</td>
						<td>
							2115
						</td>
						<td>
							2115
						</td>
						<td>
							2450
						</td>
						<td>
							2450
						</td>
					</tr>
					<tr>
						<td style="height: 34px" class="titlecolumn">
							Anhängelast bis 12% Steigung (kg)
						</td>
						<td style="height: 34px">
							2327
						</td>
						<td style="height: 34px">
							2327
						</td>
						<td style="height: 34px">
							2695
						</td>
						<td style="height: 34px">
							2695
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Anhängelast bis 12% Steigung bei Zulassung als Zugmaschine (kg)
						</td>
						<td>
							2800
						</td>
						<td>
							2800
						</td>
						<td>
							3300
						</td>
						<td>
							3300
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Zulässige vertikale Stützlast (kg)
						</td>
						<td>
							100
						</td>
						<td>
							100
						</td>
						<td>
							100
						</td>
						<td>
							100
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Fahrleistungen/Verbrauch
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
						<td class="titlerow">
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Hochgeschwindigkeit (km/h)
						</td>
						<td>
							140
						</td>
						<td>
							135
						</td>
						<td>
							135
						</td>
						<td>
							135
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Kraftstoffart
						</td>
						<td>
							Normal
						</td>
						<td>
							Diesel
						</td>
						<td>
							Normal
						</td>
						<td>
							Diesel
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Kraftstoffverbrauch Stadtverkehr (l/100 km)
						</td>
						<td>
							16
						</td>
						<td>
							9.6
						</td>
						<td>
							16.5
						</td>
						<td>
							10.5
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Kraftstoffverbrauch bei 90 km/h(l/100 km)
						</td>
						<td>
							10.2
						</td>
						<td>
							8.4
						</td>
						<td>
							10.9
						</td>
						<td>
							9.1
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Kraftstoffverbrauch bei 120 km/h(l/100 km)
						</td>
						<td>
							15.1
						</td>
						<td>
							13.2
						</td>
						<td>
							16.1
						</td>
						<td>
							14.1
						</td>
					</tr>
					<tr>
						<td class="titlecolumn">
							Tankinhalt (l)
						</td>
						<td>
							60
						</td>
						<td>
							60
						</td>
						<td>
							90
						</td>
						<td>
							90
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<h2 id="used">Gebrauchtwagen-Tipps</h2>
	<figure class="figure">
		<img src="~/images/models/L040/Used/01.jpg" class="img-thumbnail" />
		<figcaption>
			Die Turbodiesel, mit wie ohne Ladeluftkühler, gelten in ihrer Laufleistung als schwer
			berechenbar.
		</figcaption>
	</figure>
	<figure class="figure">
		<img src="~/images/models/L040/Used/02.jpg" class="img-thumbnail" />
		<figcaption>
			Das Plastikcockpit stammt klar aus den achtzigern. Der Allrad wird standesgemäß
			per Hebel eingelegt.
		</figcaption>
	</figure>
	<figure class="figure">
		<img src="~/images/models/L040/Used/03.jpg" class="img-thumbnail" />
		<figcaption>
			Die Automatik-Freilaufnaben entwicklen im Alter ein Eingenleben und schalten willkürlich.
			Sie sollten möglichst gegen manuelle ersetzt werden.
		</figcaption>
	</figure>
	<figure class="figure">
		<img src="~/images/models/L040/Used/04.jpg" class="img-thumbnail" />
		<figcaption>
			Der Dieselmotor hat ein Ölwechselintervall von 7500 km und verschlingt ca. 6 Liter.
			Wenn ein Motor tropft sollte dringenst gehandelt werden.
		</figcaption>
	</figure>
	<figure class="figure">
		<img src="~/images/models/L040/Used/05.jpg" class="img-thumbnail" />
		<figcaption>
			An der Hohlraumversieglung wurde seinerzeit scheinbar gespart. Der hintere Radlauf
			Schweipunkte an der Front und ganz besonders eine Blechheftstelle unter dem Hinterwagen
			sind zu beachten.
		</figcaption>
	</figure>
	<figure class="figure">
		<img src="~/images/models/L040/Used/06.jpg" class="img-thumbnail" />
		<figcaption>
			Das Getriebe macht gerne Ärger mit den Lagern, das Vertreilergetriebe ist standhaft.
		</figcaption>
	</figure>
	<figure class="figure">
		<img src="~/images/models/L040/Used/07.jpg" class="img-thumbnail" />
		<figcaption>
			Die vordere Bremsanalge neigt zu klemmenden Radbremszylindern und verzogenen Bremsscheiben.
		</figcaption>
	</figure>
	<figure class="figure">
		<img src="~/images/models/L040/Used/08.jpg" class="img-thumbnail" />
		<figcaption>
			Spröde Gummis a Fahrwerk und Karosserie trägern verursachen durch ihr Spiel Poltergeräusche.
		</figcaption>
	</figure>
	<figure class="figure">
		<img src="~/images/models/L040/Used/09.jpg" class="img-thumbnail" />
		<figcaption>
			Die Spurstangenköpfe schlagen schon mit der 215er-Serienbereifung aus, erst recht
			mit breiteren Pneus. Auch beim Raddurchmesser sollte man an seine Radlager denken.
		</figcaption>
	</figure>
	<figure class="figure">
		<img src="~/images/models/L040/Used/10.jpg" class="img-thumbnail" />
		<figcaption>
			Die hinteren Blattferden brechen relativ häufig. Auch hier bekommt man guten Ersatz
			im Fachhandel (Bsp. Taubenreuther). Ab 1990 wurden die Blatt- durch Schraubenfedern
			ersetzt.
		</figcaption>
	</figure>
	<figure class="figure">
		<img src="~/images/models/L040/Used/11.jpg" class="img-thumbnail" />
		<figcaption>
			Speziell bei Modellen mit Höherlegung kommt es zu erhöhtem Verschleiß der Antriebswellenlager.
			Wenn es beim Anfahren klackt oder quietscht sollten die Lager ausgetauscht und die
			Welle neu gewuchtet werden.
		</figcaption>
	</figure>
	<figure class="figure">
		<img src="~/images/models/L040/Used/12.jpg" class="img-thumbnail" />
		<figcaption>
			Abschließend noch mal zum Thema Rost....
		</figcaption>
	</figure>
</div>

