@page
@model MitsubishiPajero.Pages.Galerie.V60.IndexModel
@{
	ViewData["Title"] = "Galerie V60";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="text-center">
	<h1>
		Galerie V60
	</h1>
	<partial name="~/Pages/Shared/_GalleryPartial.cshtml" model="Model.GalleryVM" />
</div>
