@page
@model MitsubishiPajero.Pages.Galerie.Evolution.IndexModel
@{
	ViewData["Title"] = "Galerie Evolution";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="text-center">
	<h1>
		Galerie Evolution
	</h1>
	<partial name="~/Pages/Shared/_GalleryPartial.cshtml" model="Model.GalleryVM" />
</div>
